<div class="bg-light lter b-b wrapper-sm">
   <div class="row">
   <div class="col-sm-2 hidden-xs hidden-sm">
	<h3 class="m-n font-thin h3"> PDF Report </h3>
  </div>
  <div class="col-sm-4">	  
		<div class="dropdown">
			<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#"
			   href="">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="date.startDate" data-on-set-time="onD1Set(newDate, oldDate)" placeholder="startDateTime">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<datetimepicker data-ng-model="date.startDate" data-on-set-time="onD1Set(newDate, oldDate)"
								data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
			</ul>
		</div>
		
		 <div ng-messages='d_one_error' style="color:maroon"> 
        <div ng-message='today'>Date_Time should be Less than today</div>
        <div ng-message='date_two'>Start-date should < End-Date </div>
		</div>
		
	</div>
	
	<div class="col-sm-4">	  
		<div class="dropdown">
			<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#"
			   href="">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="date.endDate"  placeholder="EndDateTime" data-on-set-time="onD2Set(newDate, oldDate)">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<datetimepicker data-ng-model="date.endDate" data-on-set-time="onD2Set(newDate, oldDate)"
								data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"></datetimepicker>
			</ul>
		</div>
		 <div ng-messages='d_two_error' style="color:maroon"> 
        <div ng-message='today'>Date_Time should be Less than today</div>
        <div ng-message='date_one'>End-Date should > start-Date </div>
		</div>
	</div>
		
	</div>
</div>

 <div class="panel hbox hbox-auto-xs no-border wrapper-md">
	 <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>	
		
		<div class="check-box-panel">
		
		 <div class="row">
			<div class="col-xs-4">
				<div class="m-md">
					<h4 class="font-bold"> Malware Attacks </h4> 
					 <input type="checkbox" name="name" ng-model="malwareAll" ng-click="showAllMalware()" /> Select All
					<div ng-repeat="employee in malware">
						<div class="action-checkbox">
							 <input name="name" type="checkbox" ng-model="employee.Selected" ng-change="checkMalwareAll(malware)"/>
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
					
						<h4 class="font-bold"> Probing Attacks  </h4>
						<input type="checkbox" name="name" ng-model="probingAll" ng-click="showAllProbing()" /> Select All						
						<div ng-repeat="prob in probing">
						<div class="action-checkbox">
							 <input type="checkbox" name="name" ng-model="prob.Selected" ng-change="checkProbingAll(probing)"/>
							<label for="{{prob.name}}"></label>
							{{prob.name}}
						</div>
						</div>
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="m-md">
					<h4 class="font-bold">  Sip Attacks  </h4>
					<input type="checkbox" name="name" ng-model="sipAll" ng-click="showAllSip()" /> Select All						
					<div ng-repeat="sp in sip">
						<div class="action-checkbox">
							 <input type="checkbox" name="name" ng-model="sp.Selected" ng-change="checkSipAll(sip)"/>
							<label for="{{sp.name}}"></label>
							{{sp.name}}
						</div>
					</div>
					<h4 class="font-bold"> Web Attacks </h4>
					<input type="checkbox" ng-model="webAll" name="name" ng-click="showAllWeb()" /> Select All		
					<div ng-repeat="wb in web">
						<div class="action-checkbox">
						 <input type="checkbox" name="name" ng-model="wb.Selected" ng-change="checkWebAll(web)"/>
							<label for="{{wb.name}}"></label>
							{{wb.name}}
						</div>
					</div>	
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="m-md">
				<h4 class="font-bold">  Brute-Force Attacks  </h4>
					<input type="checkbox" ng-model="bruteAll" name="name" ng-click="showAllBrute()" /> Select All						
					<div ng-repeat="brt in brute">
						<div class="action-checkbox">
							 <input type="checkbox" name="name" ng-model="brt.Selected" ng-change="checkBruteAll(brute)"/>
							<label for="{{brt.name}}"></label>
							{{brt.name}}
						</div>
					</div>
					<h4 class="font-bold">  Global Attack  </h4>
					<input type="checkbox" ng-model="globalAll" name="name" ng-click="showAllGlobal()" /> Select All						
					<div ng-repeat="glob in global">
						<div class="action-checkbox">
							<input type="checkbox" name="name" ng-model="glob.Selected" ng-change="checkGlobalAll(global)"/>
							<label for="{{glob.name}}"></label>
							{{glob.name}}
						</div>
					</div>

					</div>
			</div>
			
		</div>
		
		<div class="clear"></div>
		<div class="bg-light lter b-b wrapper-sm">
			<div class="row">
				<div class="col-sm-3">
				<button type="button" class="btn m-b-xs w-xs btn-default" ng-disabled="(!isMalwareSelected && !malwareAll && !sipAll && !probingAll && !webAll && !globalAll && !bruteAll && !isProbingSelected && !isSipSelected && !isWebSelected && !isBruteSelected && !isGlobalSelected) || (!request)" ng-click="produceReport()"> Download </button>
				<button class="btn m-b-xs w-xs btn-default btn-rounded"> cancel  </button>
				</div>	
			</div> 
		</div>
		</div>
	  </form>
		
    <br>
    
		<div class="clear">
		
		</div>
 </div>			
			
<div id="veil" ng-show="isLoading"></div>
<div id="feedLoading" ng-show="isLoading">Loading...</div>			