<div ng-include="'views/dateBar.html'"> </div>
 <div class="panel hbox hbox-auto-xs no-border wrapper-md">
	 <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>	
		
		<div class="check-box-panel">
		
		 <div class="row">
			<div class="col-xs-4">
				<div class="m-md">
					<h4 class="font-bold"> Malware Attacks </h4> 
					<div ng-repeat="employee in malware">
						<div class="action-checkbox">
							<input id="{{employee.name}}" type="checkbox" value="{{employee.value}}" ng-checked="selection.indexOf(employee.name) > -1" ng-click="toggleSelection(employee)" />
							<label for="{{employee.name}}"></label>
							{{employee.name}}
						</div>
					</div>
					
						<h4 class="font-bold"> Probing Attacks  </h4> 
						<div ng-repeat="prob in probing">
						<div class="action-checkbox">
							<input id="{{prob.name}}" type="checkbox" value="{{prob.value}}" ng-checked="selection.indexOf(prob.name) > -1" ng-click="toggleSelection(prob)" />
							<label for="{{prob.name}}"></label>
							{{prob.name}}
						</div>
						</div>
					
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="m-md">
					<h4 class="font-bold">  Sip Attacks  </h4> 
					<div ng-repeat="sp in sip">
						<div class="action-checkbox">
							<input id="{{sp.name}}" type="checkbox" value="{{sp.name}}" ng-checked="selection.indexOf(sp.name) > -1" ng-click="toggleSelection(sp)" />
							<label for="{{sp.name}}"></label>
							{{sp.name}}
						</div>
					</div>
					<h4 class="font-bold"> Web Attacks </h4>
					<div ng-repeat="wb in web">
						<div class="action-checkbox">
							<input id="{{wb.name}}" type="checkbox" value="{{wb.name}}" ng-checked="selection.indexOf(wb.name) > -1" ng-click="toggleSelection(wb)" />
							<label for="{{wb.name}}"></label>
							{{wb.name}}
						</div>
					</div>	
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="m-md">
				<h4 class="font-bold">  Brute-Force Attacks  </h4> 
					<div ng-repeat="brt in brute">
						<div class="action-checkbox">
							<input id="{{brt.name}}" type="checkbox" value="{{brt.name}}" ng-checked="selection.indexOf(brt.name) > -1" ng-click="toggleSelection(brt)" />
							<label for="{{brt.name}}"></label>
							{{brt.name}}
						</div>
					</div>
					<h4 class="font-bold">  Global Attack  </h4> 	
					<div ng-repeat="glob in global">
						<div class="action-checkbox">
							<input id="{{glob.name}}" type="checkbox" value="{{glob.name}}" ng-checked="selection.indexOf(glob.name) > -1" ng-click="toggleSelection(glob)" />
							<label for="{{glob.name}}"></label>
							{{glob.name}}
						</div>
					</div>
					
					<div class="action-checkbox">
							<input  type="checkbox"  ng-model = "checkboxModel.attackedOSs"   />
							<label for="Test"></label>
							TOP OS
							{{checkboxModel.attackedOSs}}
					</div>

					</div>
			</div>
			
		</div>
		
		<div class="clear"></div>
		<div class="bg-light lter b-b wrapper-sm">
			<div class="row">
				<div class="col-sm-3">
				<button type="button" class="btn m-b-xs w-xs btn-default" ng-disabled="(selection.length ==0) || (!request)" ng-click="produceReport()"> Download </button>
				<button class="btn m-b-xs w-xs btn-default btn-rounded"> cancel  </button>
				</div>	
			</div> 
		</div>
		</div>
	
		<div class="clear">
		
		</div>
		
		<div>{{pdfContent}} </div> 
		
	   
	   
		<!--
	   <div class="col wrapper auto">
          <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
		  
        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          <h4 class="font-thin m-t-none m-b"> About Attack </h4>
          
          <p class="text-muted"> The countries hosting IP Addresses
performing the most attacks are
shown in the following figure </p>
        </div>
		-->
 </div>			
			