<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">

  <!-- top row -->

  	<div class="row mapTop">
		<div class="dashboard-header clearfix">
			<div class="hidden-sm hidden-xs hidden-md col-lg-2">
	          <h1 class="m-n page-title font-thin h3 text-white">Dashboard</h1>
	          <!--<small class="text-muted">Threat Intelligence </small>-->
	        </div>
	        
			<div class="col-md-2 col-lg-3 col-sm-2 col-xs-6">
				<h1 class="m-n font-thin page-title h3 text-white" title="Session Start Time">{{currentDate}}</h1>
			</div>
			
			<div class="col-md-2 col-lg-3 col-sm-2 col-xs-6">
				<!-- <h1 class="m-n font-thin page-title h3 text-white" title="Session Start Time">{{changeTime}}</h1> -->
			<h4 class="m-n font-thin page-title h3 text-white"> <timer start-time="passTime" interval="1000">{{days}} day<span ng-show="days">{{daysS}}</span>, {{hhours}}:{{mminutes}}:{{sseconds}}  </timer> </h4> 
			</div>
			
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="pull-right" style="position:relative; right:16px">
				<ul class="nav navbar-nav m-xs">
					<li class="dropdown">
					<select class="form-control cts-slecte-box" ng-model="header.criteria" ng-change="chooseValue(header.criteria)">
							<option value="" selected="selected"> Select History Time</option>
							<option value="1h" >Last hour</option>
							<option value="1d">Last Day</option>
							<option value="1w">Last Week</option>
							<option value="1m">Last Month</option>
							
					</select>
					
					</li>
				</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="map-meta-wpr">
		<div class="col-xs-2 col-md-2 onMap">
              <a class="map-box-wpr" href="#/app/dashboardAttack/probing/counts/{{prob}}" target="_blank" title="Probing Attacks">	
			    <div class="mmap-box">
			    	<div class=" map-box-icon probbing-icon">
			    		<i class="cts-icon icon-target"></i>
			    	</div>
			    	<div class="count-box">{{prob}}</div>
			    	<p>Probing Attacks</p>
			    </div>
			  </a>
         </div>
		 
		 <div class="col-xs-2 col-md-2 rotate onMap" ng-class="mal" title="Malware Attacks">
              <a href="#/app/dashboardAttack/malware/counts/{{mal}}" target="_blank">
              	<div class="mmap-box">
			    	<div class="map-box-icon malware-icon">
			    		 <i class="icon-fire"></i>
			    	</div>
			    	<div class="count-box">{{mal}}</div>
			    	<p>Malware Attacks</p>
			    </div>
			 
               <!-- <span> <i class="glyphicon glyphicon-fire"> </i> </span> -->
              </a>
         </div>
		 
         <div class="col-xs-2 col-md-2 onMap">
              <a href="#/app/dashboardAttack/web/counts/{{wb}}" target="_blank" title="web Attacks">
              	<div class="mmap-box">
			    	<div class="map-box-icon web-icon" >
			    		<i class="icon-globe"></i>
			    	</div>
			    	<div class="count-box">{{wb}}</div>
			    	<div class="clear"></div>
			    	<p>Web Attacks</p>
			    </div>
               </a>
         </div>
            
		<div class="col-xs-2 col-md-2 onMap">
            <a href="#/app/dashboardAttack/ssh/counts/{{ssh}}" target="_blank" title="SSH Attacks">
            	<div class="mmap-box">
			    	<div class="map-box-icon ssh-icon">
			    		<i class="icon-terminal-1"></i>
			    	</div>
			    	<div class="count-box">{{ssh}}</div>
			    	<p>SSH Attacks</p>
			    </div>
             </a>
        </div>
			
		<div class="col-xs-2 col-md-2 onMap">
             <a href="#/app/dashboardAttack/sip/counts/{{sp}}" target="_blank" title="SIP Attacks">
             	<div class="mmap-box">
			    	<div class="map-box-icon sip-icon">
			    		<i class="fa fa-phone"></i>
			    	</div>
			    	<div class="count-box">{{sp}}</div>
			    	<p>SIP Attacks</p>
			    </div>
             </a>
        </div>
			
		<div class="col-xs-2 col-md-2 onMap">
			 <a href="#/app/dashboardAttack/db/counts/{{db}}" title="Database Attacks" target="_blank">
			 	<div class="mmap-box">
			    	<div class="map-box-icon db-icon">
			    		<i class="fa fa-database fa-3"></i>
			    	</div>
			    	<div class="count-box">{{db}}</div>
			    	<p>Database Attacks</p>
			    </div>
             </a>
        </div>
		</div>	
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="panel blackCustom">
          <div d3-maps vals="value" id="container"> </div>
           <!-- <datamap map="map" </datamap>  -->
          </div>
		  
		 
		  
		  
		 <div class="btn-menu toggle-btn" id="toggle-btn" menu> 
			<i id="menu-toggle" class="fa fa-align-justify"></i>
		 </div>
		
          <div class="mapright-col"> 
		  <h3>Attack Activity</h3>     
      <!-- streamline -->
      
      <div class="">
	  <div class="streamline m-l-xs b-l m-b-sm" ng-repeat="item in items | limitTo:limitTo"  ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" >
        <div class="sl-item b-danger b-l" ng-show="item.data.type == 'malware'">
          <div class="m-l">
          	<a class="item-country text-danger" href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >
          		{{item['data']['name']}}
          	</a>
          	<a class="item-ip" href="#/app/showIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> 
          		{{item.data['Ip']}}
          	</a>
      		<a  class="item-type text-danger" href=""> {{item.data['type']}}</a> 
      		<a  class="detail-icon" data-popup-open="popup-1" href="" ng-click="showModal(item)" >
      			<i class="fa fa-info-circle"></i>
      		</a> 
          </div>
        </div>
   
		<div class="sl-item b-info b-l" ng-if="item.data.type == 'web'">
          <div class="m-l">
          	<a class="item-country text-info" href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >
          		{{item['data']['name']}}
          	</a>
          	<a class="item-ip" href="#/app/showIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a>
          	<a href="" class="item-type text-info"> {{item.data['type']}} </a>
          	<a class="detail-icon" data-popup-open="popup-1" href="" ng-click="showModal(item)" > 
          		<i class="fa fa-info-circle"></i>
          	</a>            
          </div>
        </div>

		<div class="sl-item b-orange b-l" ng-if="item.data.type =='probing'">
          <div class="m-l">
          	<a class="item-country text-orange" href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >
          		{{item['data']['name']}}
          	</a>
          	<a class="item-ip" href="#/app/showIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a>
            <a href="" class="item-type text-orange"> {{item.data['type']}} </a>
            <a class="detail-icon" data-popup-open="popup-1" href="" ng-click="showModal(item)" > 
            	<i class="fa fa-info-circle"></i>
            </a> 
            
          </div>
        </div>
		
		<div class="sl-item b-success b-l" ng-if="item.data.type =='sip'">
          <div class="m-l">
          	<a class="item-country text-success" href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >
          		{{item['data']['name']}}
          	</a>
          	<a class="item-ip" href="#/app/showIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a>
          	<a href="" class="item-type text-success"> {{item.data['type']}} </a>
            <a class="detail-icon" data-popup-open="popup-1" href="" ng-click="showModal(item)" > <i class="fa fa-info-circle"></i></a>
          </div>
        </div>
		
		<div class="sl-item b-black dker b-l" ng-if="item.data.type =='ssh'">
          <div class="m-l">
          	<a class="item-country map-text-black" href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >
          		{{item['data']['name']}}
          	</a>
          	<a class="item-ip" href="#/app/showIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a>
          	<a href="" class="item-type map-text-black"> {{item.data['type']}} </a>
          	<a  class="detail-icon" data-popup-open="popup-1" href="" ng-click="showModal(item)" > <i class="fa fa-info-circle"></i> </a>
            
          </div>
        </div>
      
		<div class="sl-item b-db lter b-l" ng-if="item.data.type == 'database'">
          <div class="m-l">
          	<a class="item-country text-db" href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >
          		{{item['data']['name']}}
          	</a>
          	<a class="item-ip" href="#/app/showIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a>
          	<a href="" class="item-type text-db"> {{item.data['type']}} </a> 
          	<a class="detail-icon" data-popup-open="popup-1" href="" ng-click="showModal(item)" >
          		<i class="fa fa-info-circle"></i>
          	</a>
            
          </div>
        </div>
	  
	  </div>
	  </div>
      <!-- / streamline -->
    </div>
        </div>
      </div>
  <!-- end top row -->


  <!-- main -->
 <div class="row">
    
    <!-- / main header -->
    <div class="wrapper-md">
	   <!-- service -->
		  <!-- service -->
      <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper">
			<nvd3 options="lineChartOptions" data="lineChartData" api="apis" config="config" class="with-3d-shadow with-transitions"></nvd3>
        </div>
		
        <div class="col wrapper-md w-md bg-light dk r-r">
          <h4 class="font-thin m-t-none m-b">Attacks</h4>
          <div class="">
            <div class="">
              <span class="pull-right text-danger">{{malPerct}}%</span>
              <span> Malwares </span>
            </div>
            <progressbar value="malPerct" class="progress-xs m-t-sm bg-white" animate="true" type="danger"></progressbar>
            <div class="">
              <span class="pull-right text-success">{{sipPerct}}%</span>
              <span> SIP </span>
            </div>
            <progressbar value="sipPerct" class="progress-xs m-t-sm bg-white" animate="true" type="success"></progressbar>
            <div class="">
              <span class="pull-right text-info">{{webPerct}}%</span>
              <span>Web </span>
            </div>
            <progressbar value="webPerct" class="progress-xs m-t-sm bg-white" animate="true" type="info"></progressbar>
         
			<div class="">
              <span class="pull-right text-orange">{{probPerct}}%</span>
              <span> Probing </span>
            </div>
			<progressbar value="probPerct" class="progress-xs m-t-sm bg-white" animate="true" type="orange"></progressbar>

			<div class="">
              <span class="pull-right text-black">{{sshPerct}}%</span>
              <span> Ssh </span>
            </div>
			<progressbar value="sshPerct" class="progress-xs m-t-sm bg-white" animate="true" type="black"></progressbar>
			
			
			<div class="">
              <span class="pull-right text-db">{{dbPerct}}%</span>
              <span> Database </span>
            </div>
			<progressbar value="dbPerct" class="progress-xs m-t-sm bg-white" animate="true" type="db"></progressbar>
			
		 </div>
       
        </div>
		
      </div>
      <!-- / service -->
	 
      <!-- / service -->
	  
    
      <div class="row">
        <div class="col-md-6" ng-if="obj.length > 0">
		<highchart id="chart1" config="chartConfig" class="span9" ></highchart>
		<!--
          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">Top countries Attack</h4>              
            </div>
			
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="attack in country"  ui-sref-active="active"> 
							
				<a href="#/app/CountryIps/{{attack.country}}" >
				<span class="badge bg-info pull-right">{{attack.hits}}</span>
					<span> <img src="img/16/{{attack.country}}-flag.png" height="12px" /> </span> {{attack.country }} 
				</a>
				</li>
			</ul>
          </div>
		  -->
        </div>
        <div class="col-md-6" ng-if="ob.length > 0"> 
		
			
          <div class="panel no-border">
            <highchart id="chart1" config="difference" class="span9" ></highchart>
			
			</div>
	
        </div>
      </div>
	  <div class="row">
	  <!--
	  <div class="col-md-6">            
         
          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">Top Destination Countries</h4>              
            </div>
			
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="attack in ipDatas"  ui-sref-active="active"> 		
				<a href="#/app/CountryIps/{{attack.ip_country}}/ip/{{attack.ip}}">
				<span class="badge bg-info pull-right">{{attack.hits}}</span>
					<span> <img src="img/16/{{attack.ip_country}}-flag.png" height="12px" /> </span> {{attack.ip}} ({{attack.ip_country}})
				</a>
				</li>
			</ul>
			</div>
        </div>
		-->
		<div class="col-md-6">
			<!-- <highchart id="chart1" config="chartConfig" class="span9" ></highchart> 
				<highchart id="chart1" config="difference" class="span9" ></highchart> -->
		<!--	<div id="containers" style="min-width:250px; margin: 0 auto" high-donut></div>  -->
		
		</div>
		</div>
      <!-- / tasks -->
    </div>
	
	<div modal="showModals" close="showModalHide()">
		<div class="modal-dialog modal-md">
			<div class="modal-content mode_bor">
				<div class="row">
					<div class="col-lg-12">
						<div ng-if="modalType == 'SIP'">							
							<tabset>
							<tab heading="Attack Information" active="true">
								<div class="med_text">
								<table class="table">
								<tbody>
								<tr>  
									<td> Source IP </td>
									<td>{{detail['origin']['ip']}}</td>
								</tr>
								
								<tr>  
									<td>Country </td>
									<td>{{detail['origin']['country']}}</td>
								</tr>
								
								<tr> 
									<td>Destination IP</td>
									<td>{{detail['destination']['ip']}}</td>
								</tr>
								<tr>  
									<td>Destination Port</td>
									<td>{{detail['dstPort']}}</td>
								</tr>
								
								<tr> <td>DateTime</td>
								<td>{{detail['dateTime'] | dateTimeFilter }}</td>
								</tr>
								
								<tr>  <td>SIP Method</td>
								<td>{{detail['sipMethod']}}</td>
								</tr>
								<tr> <td>SIP Call Id</td>
								<td>{{detail['sipCallId']}}</td>
								</tr>
								
								<tr>  <td>App Layer Protocol</td>
								<td>{{detail['appLayerProtocol']}}</td>
								</tr>
								
								<tr>  <td>User Agent</td>
								<td>{{detail['sipUserAgent']}}</td>								
								</tr>
								
								<tr> 
									<td> Severity Score </td>
									<td>{{detail['severityScore']}}</td>
								</tr>
								</tbody>
								
								</table>
							</div>
							
							</tab>
							<tab heading="IP Analysis">
								<div class="med_text">
									<table class="table">
									<tbody>
									<tr>  <td> Activity Status</td>
									<td>{{analysis['activity']}}</td>
									</tr>
									<tr> <td> Risk Factor </td>
									<td>{{analysis['riskFactor']}}</td>
									</tr>
									
									<tr> <td> Confidence </td>
									<td>{{analysis['confidence']}}</td>
									</tr>
									
									<tr>  <td> First Seen </td>
									<td>{{analysis['firstSeen']}}</td>								
									</tr>
									
									<tr>  <td> Last Seen </td>
									<td>{{analysis['lastSeen']}}</td>								
									</tr>
									</tbody>	
									</table>
								</div>
							</tab>
							<tab heading="IP Header" ng-show="network.ipHeader">
								<div class="med_text">
									<table class="table">
									<tbody>
								<tr> <td> IP version  </td>
									<td>{{network['ipHeader']['ipVersion']}}</td>
								</tr>
								
								<tr> <td> Header length </td>
									<td>{{network['ipHeader']['headerLength']}}</td>
								</tr>
								
								<tr> <td> Total length </td>
									<td>{{network['ipHeader']['totalLength']}}</td>
								</tr>
								
								<tr> <td> Protocol </td>
									<td>{{network['ipHeader']['protocol']}}</td>
								</tr>
								
								<tr> <td> csum </td>
									<td>{{network['ipHeader']['csum']}}</td>
								</tr>
																
								</tbody>
									</table>
								</div>
							</tab>		
							<tab heading="UDP Header" ng-show="network.udpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Tcp Header" ng-show="network.tcpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['tcpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['tcpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> Flags </td>
													<td>{{network['tcpHeader']['flags']}}</td>
												</tr>
												<tr>
													<td> Tcp CSUM </td>
													<td>{{network['tcpHeader']['tcpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network.payload">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
						
								<tab heading="Signatures" ng-show="network.signatures">
									<div class="med_text">
										<table class="table">
											<tbody>
										
										<tr> <td> Signatures </td>
											<td>{{network['signatures']}}</td>
										</tr>
										</tbody>
										</table>
									</div>
								</tab>
						</tabset>			
						</div>
						
						
						<div ng-if="modalType =='WEB'">
						<tabset>
							<tab heading="Attack Information" active="true">
								<div class="med_text">
								<table class="table">
									
								<tbody>
								
								<tr>  <td> Source IP </td>
								<td>{{detail['origin']['ip']}}</td>
								</tr>
								
								
								<tr> <td>Country </td>
								<td>{{detail['origin']['country']}}</td>
								</tr>
								<tr> <td>Destination IP</td>
								<td>{{detail['destination']['ip']}}</td>
								</tr>
								
								<tr>  
										<td>Destination Port</td>
										<td>{{detail['dstPort']}}</td>
								</tr>
								
								<tr> <td>DateTime</td>
								<td>{{detail['dateTime'] | dateTimeFilter }}</td>
								</tr>
								
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>								
								</tr>
								
								<tr> <td> Http Method </td>
									<td>{{detail['httpMethod']}}</td>
								</tr>
								

								<tr ng-show="detail['userAgent']"> <td> User Agent </td>
									<td>{{detail['userAgent']}}</td>
								</tr>

								
								<tr ng-show="detail['contentType']"> <td> Content Type </td>
									<td>{{detail['contentType']}}</td>
								</tr>

								
								<tr ng-show="detail['rawLog']['requestHeader']"> <td> Request Header </td>
									<td> <pre class="preheader"> {{detail['rawLog']['requestHeader']}} </pre> </td>
								</tr>

								
								<tr ng-show="detail['rawLog']['responseHeader']"> <td> Response Header </td>
								<td> <pre class="preheader"> {{detail['rawLog']['responseHeader']}} </pre> </td>
								</tr>	
								
								</tbody>
								</table>
							</div>
							</tab>
							<tab heading="IP Analysis">
								<div class="med_text">
									<table class="table">
									<tbody>
									<tr>  <td> Activity Status</td>
									<td>{{analysis['activity']}}</td>
									</tr>
									<tr> <td> Risk Factor </td>
									<td>{{analysis['riskFactor']}}</td>
									</tr>
									
									<tr> <td> Confidence </td>
									<td>{{analysis['confidence']}}</td>
									</tr>
									
									<tr>  <td> First Seen </td>
									<td>{{analysis['firstSeen']}}</td>								
									</tr>
									
									<tr>  <td> Last Seen </td>
									<td>{{analysis['lastSeen']}}</td>								
									</tr>
									</tbody>	
									</table>
								</div>
							</tab>
							
							<tab heading="Rule List" ng-show="detail.ruleList">
								<div class="med_text">
										<table class="table">
											<tbody ng-repeat="val in detail['ruleList']">
												<tr> 
												<td> RuleId </td>
												<td>{{val['ruleId']}}</td>
												</tr>
												<tr> 
												<td> Regex Expression </td>
												<td>{{val['regexPattern']}}</td>
												</tr>
												
												<tr><td> RuleCategory </td>
												<td>{{val['ruleCategory']}}</td>
												</tr>
												
												<tr>
												<td> RuleFile </td>
												<td>{{val['ruleFile']}}</td>
												</tr>
												
												<tr>
												<td> RuleMessage </td>
												<td>{{val['ruleMessage']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
							</tab>
							
								<tab heading="IP Header" ng-show="network.ipHeader">
								<div class="med_text">
									<table class="table">
									<tbody>
								
								<tr> <td> IP version  </td>
									<td>{{network['ipHeader']['ipVersion']}}</td>
								</tr>
								
								<tr> <td> Header length </td>
									<td>{{network['ipHeader']['headerLength']}}</td>
								</tr>
								
								<tr> <td> Total length </td>
									<td>{{network['ipHeader']['totalLength']}}</td>
								</tr>
								
								<tr> <td> Protocol </td>
									<td>{{network['ipHeader']['protocol']}}</td>
								</tr>
								
								<tr> <td> csum </td>
									<td>{{network['ipHeader']['csum']}}</td>
								</tr>
																
								</tbody>
									</table>
								</div>
							</tab>		
							<tab heading="UDP Header" ng-show="network.udpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Tcp Header" ng-show="network.tcpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['tcpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['tcpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> Flags </td>
													<td>{{network['tcpHeader']['flags']}}</td>
												</tr>
												<tr>
													<td> Tcp CSUM </td>
													<td>{{network['tcpHeader']['tcpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network.payload">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
						
						<tab heading="Signatures" ng-show="network.signatures">
							<div class="med_text">
								<table class="table">
									<tbody>
								
								<tr> <td> Signatures </td>
									<td>{{network['signatures']}}</td>
								</tr>
								</tbody>
								</table>
							</div>
						
						</tab>
						
						</tabset>	
							
							
						</div>
								
							<div ng-if="modalType == 'MALWARE'">
								<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tbody>
											<tr>  <td> Source IP </td>
											<td>{{detail['origin']['ip']}}</td>
											</tr>
											
											<tr>  <td>Country </td>
											<td>{{detail['origin']['country']}}</td>
											</tr>
											<tr> <td>Destination IP</td>
											<td>{{detail['destination']['ip']}}</td>
											</tr>
											
											<tr> <td>DateTime</td>
												<td>{{detail['dateTime'] | dateTimeFilter }}</td>
											</tr>
								
											<tr> <td> Service </td>
											<td>{{detail['service']}}</td>								
											</tr>
											
											<tr> <td> Hash </td>
												<td><a href="" ng-click="getHash(detail.download.md5Hash)">{{detail['download']['md5Hash']}}  </a> </td>
											</tr>
											
											<tr ng-show="detail.downloads[0]" ng-repeat="ha in detail.downloads">
											<td> Hash </td>
											<td>{{ha['md5Hash']}}</td>
											</tr>
											
											<tr> 
												<td> Severity Score </td>
												<td>{{detail['severityScore']}}</td>
											</tr>
											
											<tr ng-show="detail.download.url"> <td> URL </td>
												<td>{{detail['download']['url']}}</td>
											</tr>

										</tbody>
										</table>
									</div>
								</tab>
								<tab heading="IP Analysis">
									<div class="med_text">
										<table class="table">
										<tbody>
										<tr>  <td> Activity Status</td>
										<td>{{analysis['activity']}}</td>
										</tr>
										<tr> <td> Risk Factor </td>
										<td>{{analysis['riskFactor']}}</td>
										</tr>
										
										<tr> <td> Confidence </td>
										<td>{{analysis['confidence']}}</td>
										</tr>
										
										<tr>  <td> First Seen </td>
										<td>{{analysis['firstSeen']}}</td>								
										</tr>
										
										<tr>  <td> Last Seen </td>
										<td>{{analysis['lastSeen']}}</td>								
										</tr>
										</tbody>	
										</table>
									</div>
								</tab>
								<tab heading="IP Header" ng-show="network.ipHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> IP version  </td>
													<td>{{network['ipHeader']['ipVersion']}}</td>
												</tr>
												<tr>
													<td> Header length </td>
													<td>{{network['ipHeader']['headerLength']}}</td>
												</tr>
												<tr>
													<td> Total length </td>
													<td>{{network['ipHeader']['totalLength']}}</td>
												</tr>
												<tr>
													<td> Protocol </td>
													<td>{{network['ipHeader']['protocol']}}</td>
												</tr>
												<tr>
													<td> csum </td>
													<td>{{network['ipHeader']['csum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network.udpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Tcp Header" ng-show="network.tcpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['tcpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['tcpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> Flags </td>
													<td>{{network['tcpHeader']['flags']}}</td>
												</tr>
												<tr>
													<td> Tcp CSUM </td>
													<td>{{network['tcpHeader']['tcpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network.payload">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network.signatures">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>
							</div>	
							
						
						<div ng-if="modalType == 'DATABASE'">	
								<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tr>  <td> Source IP </td>
											<td>{{detail['origin']['ip']}}</td>
											</tr>
											
											<tr>  <td>Country </td>
											<td>{{detail['origin']['country']}}</td>
											</tr>
											<tr> <td>Destination IP</td>
											<td>{{detail['destination']['ip']}}</td>
											</tr>
											<tr>  
												<td>Destination Port</td>
												<td>{{detail['dstPort']}}</td>
											</tr>
											
											<tr> 
												<td> Severity Score </td>
												<td>{{detail['severityScore']}}</td>
											</tr>
								
								<tr> <td>DateTime</td>
								<td>{{detail['dateTime'] | dateTimeFilter }}</td>
								</tr>
								
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>	
									
								<tr ng-show="detail['signature']">
								<td> Signature </td>
								<td> {{detail['signature']}}</td>
								</tr>	
								
								<tr ng-show="detail['signatureClass']">
								<td> Signature Class </td>
								<td> {{detail['signatureClass']}}</td>
								</tr>
								
								<tbody ng-show="detail.service == 'mssql'">
								<tr ng-show="detail['mssqlClientName']"> 
									<td> Mssql Client Name </td>
									<td>{{detail['mssqlClientName']}}</td>
								</tr>

								<tr ng-show="detail['mssqlHostName']">
								<td> Mssql Host Name </td>
								<td>{{detail['mssqlHostName']}}</td>
								</tr>								
								</tbody>
								
								<tbody ng-show="detail.mysqlCommands[0]" ng-repeat ="val in detail.mysqlCommands">
								<tr ng-show= "val.mysqlQuery"> 
								<td> Mysql Query </td>
								<td> <pre class="preheader"> {{val['mysqlQuery']}} </pre></td>
								</tr>
								
								<tr ng-show="val.mysqlOp"> 
								<td> Mysql OP </td>
								<td> <pre class="preheader"> {{val['mysqlOp']}} </pre> </td>
								</tr>
								</tbody>
										</table>
									</div>
								</tab>
								<tab heading="IP Analysis">
									<div class="med_text">
										<table class="table">
										<tbody>
										<tr>  <td> Activity Status</td>
										<td>{{analysis['activity']}}</td>
										</tr>
										<tr> <td> Risk Factor </td>
										<td>{{analysis['riskFactor']}}</td>
										</tr>
										
										<tr> <td> Confidence </td>
										<td>{{analysis['confidence']}}</td>
										</tr>
										
										<tr>  <td> First Seen </td>
										<td>{{analysis['firstSeen']}}</td>								
										</tr>
										
										<tr>  <td> Last Seen </td>
										<td>{{analysis['lastSeen']}}</td>								
										</tr>
										</tbody>	
										</table>
									</div>
								</tab>
									<tab heading="IP Header" ng-show="network.ipHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
											<tr>
											<td> IP version  </td>
											<td>{{network['ipHeader']['ipVersion']}}</td>
											</tr>
											<tr>
												<td> Header length </td>
												<td>{{network['ipHeader']['headerLength']}}</td>
											</tr>
											<tr>
												<td> Total length </td>
												<td>{{network['ipHeader']['totalLength']}}</td>
											</tr>
											<tr>
												<td> Protocol </td>
												<td>{{network['ipHeader']['protocol']}}</td>
											</tr>
											<tr>
												<td> csum </td>
												<td>{{network['ipHeader']['csum']}}</td>
											</tr>
										</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network.udpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Tcp Header" ng-show="network.tcpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['tcpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['tcpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> Flags </td>
													<td>{{network['tcpHeader']['flags']}}</td>
												</tr>
												<tr>
													<td> Tcp CSUM </td>
													<td>{{network['tcpHeader']['tcpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network.payload">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network.signatures">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>
							
						</div>
						
						<div class="table-responsive" ng-if="modalType == 'SSH'">
							<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tbody>
								
								<tr>  <td> Source IP </td>
								<td>{{detail['origin']['ip']}}</td>
								</tr>
								
								<tr>
								<td> Tool </td>
								<td> {{detail['tool']}} <td>
								</tr>
								<tr> <td>Destination IP</td>
								<td>{{detail['destination']['ip']}}</td>
								</tr>
								<tr>  
										<td>Destination Port</td>
										<td>{{detail['dstPort']}}</td>
								</tr>
								<tr> 
									<td> Severity Score </td>
									<td>{{detail['severityScore']}}</td>
								</tr>
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>								
								</tr>
								
								<tr> <td>DateTime</td>
								<td>{{detail['dateTime'] | dateTimeFilter }}</td>
								</tr>
								
								</tbody>
								
								<tbody ng-repeat="val in detail['authList']">
							
								<tr> 
								<td> Password </td>
								<td>{{val['password']}}</td>
								</tr>
								
								<tr><td> UserName </td>
								<td>{{val['username']}}</td>
								</tr>
								
								<tr>
								<td> dateTime </td>
								<td>{{val['dateTime']}}</td>
								</tr>
								
								<tr>
								<td> Auth Success </td>
								<td>{{val['success']}}</td>
								</tr>
								</tbody>
									</table>
									</div>
								</tab>
								<tab heading="IP Analysis">
									<div class="med_text">
										<table class="table">
										<tbody>
										<tr>  <td> Activity Status</td>
										<td>{{analysis['activity']}}</td>
										</tr>
										<tr> <td> Risk Factor </td>
										<td>{{analysis['riskFactor']}}</td>
										</tr>
										
										<tr> <td> Confidence </td>
										<td>{{analysis['confidence']}}</td>
										</tr>
										
										<tr>  <td> First Seen </td>
										<td>{{analysis['firstSeen']}}</td>								
										</tr>
										
										<tr>  <td> Last Seen </td>
										<td>{{analysis['lastSeen']}}</td>								
										</tr>
										</tbody>	
										</table>
									</div>
								</tab>
									<tab heading="IP Header" ng-show="network.ipHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> IP version  </td>
													<td>{{network['ipHeader']['ipVersion']}}</td>
												</tr>
												<tr>
													<td> Header length </td>
													<td>{{network['ipHeader']['headerLength']}}</td>
												</tr>
												<tr>
													<td> Total length </td>
													<td>{{network['ipHeader']['totalLength']}}</td>
												</tr>
												<tr>
													<td> Protocol </td>
													<td>{{network['ipHeader']['protocol']}}</td>
												</tr>
												<tr>
													<td> csum </td>
													<td>{{network['ipHeader']['csum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network.udpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Tcp Header" ng-show="network.tcpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['tcpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['tcpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> Flags </td>
													<td>{{network['tcpHeader']['flags']}}</td>
												</tr>
												<tr>
													<td> Tcp CSUM </td>
													<td>{{network['tcpHeader']['tcpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network.payload">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network.signatures">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>	
								
								
						</div>
						
						<div ng-if="modalType == 'PROBING'">
							<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tbody>
									<tr> 
									<td> Source IP </td>
									<td>{{detail['origin']['ip']}}</td>
									</tr>
											
									<tr>  
									<td>Country </td>
									<td>{{detail['origin']['country']}}</td>
									</tr>
									<tr> 
									<td>Destination IP</td>
									<td>{{detail['destination']['ip']}}</td>
									</tr>	

								
									<tr> <td>DateTime</td>
									<td>{{detail['dateTime'] | dateTimeFilter }}</td>
									</tr>
									
									<tr>  
										<td>Destination Port</td>
										<td>{{detail['dstPort']}}</td>
									</tr>
									
									<tr> 
										<td> Severity Score </td>
										<td>{{detail['severityScore']}}</td>
									</tr>
									
									<tr> <td> Service </td>
									<td>{{detail['service']}}</td>								
									</tr>
									</tbody>
											</table>
										</div>
								</tab>
								<tab heading="IP Analysis">
									<div class="med_text">
										<table class="table">
										<tbody>
										<tr>  <td> Activity Status</td>
										<td>{{analysis['activity']}}</td>
										</tr>
										<tr> <td> Risk Factor </td>
										<td>{{analysis['riskFactor']}}</td>
										</tr>
										
										<tr> <td> Confidence </td>
										<td>{{analysis['confidence']}}</td>
										</tr>
										
										<tr>  <td> First Seen </td>
										<td>{{analysis['firstSeen']}}</td>								
										</tr>
										
										<tr>  <td> Last Seen </td>
										<td>{{analysis['lastSeen']}}</td>								
										</tr>
										</tbody>	
										</table>
									</div>
								</tab>
								
								<tab heading="IP Header" ng-show="network.ipHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												
												<tr>
													<td> IP version  </td>
													<td>{{network['ipHeader']['ipVersion']}}</td>
												</tr>
												<tr>
													<td> Header length </td>
													<td>{{network['ipHeader']['headerLength']}}</td>
												</tr>
												<tr>
													<td> Total length </td>
													<td>{{network['ipHeader']['totalLength']}}</td>
												</tr>
												<tr>
													<td> Protocol </td>
													<td>{{network['ipHeader']['protocol']}}</td>
												</tr>
												<tr>
													<td> csum </td>
													<td>{{network['ipHeader']['csum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network.udpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Tcp Header" ng-show="network.tcpHeader">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['tcpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['tcpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> Flags </td>
													<td>{{network['tcpHeader']['flags']}}</td>
												</tr>
												<tr>
													<td> Tcp CSUM </td>
													<td>{{network['tcpHeader']['tcpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network.payload">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network.signatures">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>	
					</div>
					
						<div class="clear"></div>
						<div class="modal-footer del_pop_footer">
							<button ng-click="showModalHide()" type="button" class="btn btn-default" style="height:25px; border-radius:20px; margin:10px 0; line-height:10px;"> OK </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
  </div>
  <!-- / main -->
  <!-- right col -->
   <!--<div class="col11 w-md bg-white-only b-l bg-auto no-border-xs">
   <div class="right-col-heading">
   		<h1 class="m-n font-thin h3 text-black">Recent Attack Activity</h1>
   </div>
    	
  </div>-->
  <!-- / right col -->