<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
  <!-- main -->
 <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-sm">
      <div class="row">
        <div class="hidden-sm hidden-xs hidden-md col-lg-2">
          <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
          <small class="text-muted">Threat Intelligence </small>
        </div>	 
		
		<!--
		   <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">	  
				<div class="dropdown">
					<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#"
					   href="">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="dataformatter"  placeholder="startDateTime">
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<datetimepicker data-ng-model="dataformatter"
										data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"></datetimepicker>
					</ul>
				</div>
			</div>
			
			
			<div class="col-sm-2 col-md-2 col-lg-2">
				<button class="btn m-b-xs w-xs btn-default" ng-click="searchDate()"> OK  </button>
			</div>

			<div class="col-sm-4 col-lg-4 col-md-4">
				<ul class="nav navbar-nav">
					<li class="dropdown">
					<select class="form-control" ng-model="header.criteria" ng-change="chooseValue(header.criteria)">
							<option value="" selected="selected">Last hour</option>
							<option value="globalThreat">Yesterday</option>
							<option value="malwareAttacks">Last Week</option>
							<option value="SIPAttacks">Last 15 days</option>
							<option value="webAttacks">Last Month</option>
							
					</select>
					</li>
				</ul>
			</div>
		  -->
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
      <!-- stats -->
	<div class="row row-sm text-center">
		<div class="col-xs-2 col-md-2 onMap">
              <a href="#/app/dashboardAttack/probing/counts/{{prob}}" target="_blank" title="Probing Attacks">
				 <img src = "img/probing/probing-1.png" height="28px" />
			    <p class="text-white font-thin h4"> {{prob}} </p>
			  </a>
         </div>
		 
		 <div class="col-xs-2 col-md-2 rotate onMap" ng-class="mal" title="Malware Attacks">
              <a href="#/app/dashboardAttack/malware/counts/{{mal}}" target="_blank">
				<img src ="img/malware/32/malware-1.png" height="28px"/> 
			   <p class="text-white font-thin h4 "> {{mal}} </p>
			 
               <!-- <span> <i class="glyphicon glyphicon-fire"> </i> </span> -->
              </a>
         </div>
		 
         <div class="col-xs-2 col-md-2 onMap">
              <a href="#/app/dashboardAttack/web/counts/{{wb}}" target="_blank" title="web Attacks">
			   <img src ="img/web/32/web-2.png" height="26px"/>
          	   <p class="text-white font-thin h4"> {{wb}} </p>
                    <!--<span> <i class="glyphicon glyphicon-globe"></i> </span>  -->
               </a>
         </div>
            
		<div class="col-xs-2 col-md-2 onMap">
            <a href="#/app/dashboardAttack/ssh/counts/{{ssh}}" target="_blank" title="SSH Attacks">
				<img src ="img/ssh/32/SSH-2.png" height="28px"/> 
			   <p class="text-white font-thin h4 "> {{ssh}} </p>
             <!-- <span><i class="glyphicon glyphicon-eye-close"></i> </span>   -->
             </a>
        </div>
			
		<div class="col-xs-2 col-md-2 onMap">
             <a href="#/app/dashboardAttack/sip/counts/{{sp}}" target="_blank" title="SIP Attacks">
				<img src ="img/sip/32/sip-2.png" height="28px"/>
               <p class="text-white font-thin h4 "> {{sp}} </p>
             <!--  <span><i class="glyphicon glyphicon-earphone"></i> </span> -->
             </a>
        </div>
			
		<div class="col-xs-2 col-md-2 onMap">
			 <a href="#/app/dashboardAttack/db/counts/{{db}}" title="Database Attacks" target="_blank">
              <!-- <img src = "img/dashboard/Dashboard-4.png" height="18px" /> -->
			   <i class="fa fa-database fa-3 dbCol"></i>
			 <p class="text-white font-thin h4 "> {{db}} </p>
			      
             <!--  <span><i class="glyphicon glyphicon-earphone"></i> </span> -->
             </a>
        </div>
		
	</div>
	
      <div class="row mapTop">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="panel blackCustom">
          <div d3-maps vals="value" id="container"> </div>
           <!-- <datamap map="map" </datamap>  -->
          </div>
        </div>
      </div>
      <!-- / stats -->

     

 
      <!-- / tasks -->

	  
	   <!-- service -->
		  <!-- service -->
      <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper">
			<nvd3 options="lineChartOptions" data="lineChartData" api="apis" config="config" class="with-3d-shadow with-transitions"></nvd3>
        </div>
		
        <div class="col wrapper-md w-md bg-light dk r-r">
          <h4 class="font-thin m-t-none m-b">Attacks</h4>
          <div class="">
            <div class="">
              <span class="pull-right text-danger">{{malPerct}}%</span>
              <span> Malwares </span>
            </div>
            <progressbar value="malPerct" class="progress-xs m-t-sm bg-white" animate="true" type="danger"></progressbar>
            <div class="">
              <span class="pull-right text-success">{{sipPerct}}%</span>
              <span> SIP </span>
            </div>
            <progressbar value="sipPerct" class="progress-xs m-t-sm bg-white" animate="true" type="success"></progressbar>
            <div class="">
              <span class="pull-right text-info">{{webPerct}}%</span>
              <span>Web </span>
            </div>
            <progressbar value="webPerct" class="progress-xs m-t-sm bg-white" animate="true" type="info"></progressbar>
         
			<div class="">
              <span class="pull-right text-orange">{{probPerct}}%</span>
              <span> Probing </span>
            </div>
			<progressbar value="probPerct" class="progress-xs m-t-sm bg-white" animate="true" type="orange"></progressbar>

			<div class="">
              <span class="pull-right text-black">{{sshPerct}}%</span>
              <span> Ssh </span>
            </div>
			<progressbar value="sshPerct" class="progress-xs m-t-sm bg-white" animate="true" type="black"></progressbar>
			
			
			<div class="">
              <span class="pull-right text-db">{{dbPerct}}%</span>
              <span> Database </span>
            </div>
			<progressbar value="dbPerct" class="progress-xs m-t-sm bg-white" animate="true" type="db"></progressbar>
			
		 </div>
       
        </div>
		
      </div>
      <!-- / service -->
	 
      <!-- / service -->
	  
    
      <div class="row">
        <div class="col-md-6">
		<highchart id="chart1" config="chartConfig" class="span9" ></highchart>
		<!--
          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">Top countries Attack</h4>              
            </div>
			
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="attack in country"  ui-sref-active="active"> 
							
				<a href="#/app/CountryIps/{{attack.country}}" >
				<span class="badge bg-info pull-right">{{attack.hits}}</span>
					<span> <img src="img/16/{{attack.country}}-flag.png" height="12px" /> </span> {{attack.country }} 
				</a>
				</li>
			</ul>
          </div>
		  -->
        </div>
        <div class="col-md-6"> 
		
			
          <div class="panel no-border">
            <highchart id="chart1" config="difference" class="span9" ></highchart>
			<!--
			<div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">Top Ten Ip</h4>              
            </div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="attack in ipDatas"  ui-sref-active="active"> 
				<a href="#/app/CountryIps/{{attack.ip_country}}/ip/{{attack.ip}}">
				<span class="badge bg-info pull-right">{{attack.hits}}</span>
					<span> <img src="img/16/{{attack.ip_country}}-flag.png" height="12px" /> </span>{{attack.ip}} ({{attack.ip_country}})
				</a>
				</li>
			</ul>
					
			-->
			
			</div>
	
        </div>
      </div>
	  <div class="row">
	  <!--
	  <div class="col-md-6">            
         
          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">Top Destination Countries</h4>              
            </div>
			
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="attack in ipDatas"  ui-sref-active="active"> 		
				<a href="#/app/CountryIps/{{attack.ip_country}}/ip/{{attack.ip}}">
				<span class="badge bg-info pull-right">{{attack.hits}}</span>
					<span> <img src="img/16/{{attack.ip_country}}-flag.png" height="12px" /> </span> {{attack.ip}} ({{attack.ip_country}})
				</a>
				</li>
			</ul>
			</div>
        </div>
		-->
		<div class="col-md-6">
			<!-- <highchart id="chart1" config="chartConfig" class="span9" ></highchart> 
				<highchart id="chart1" config="difference" class="span9" ></highchart> -->
		<!--	<div id="containers" style="min-width:250px; margin: 0 auto" high-donut></div>  -->
		
		</div>
		</div>
      <!-- / tasks -->
    </div>
	
	<div modal="showModals" close="showModalHide()">
		<div class="modal-dialog modal-md">
			<div class="modal-content mode_bor">
				<div class="row">
					<div class="col-lg-12">
						<div class="table-responsive" ng-show="modalType == 'SIP'">
							<table class="table b-light">
								<thead>
									<th><span ng-show="modalType"> {{modalType}} </span> Attacks Detail </th>
								</thead>
								
								<tbody>
								
								<tr>  <td> Source IP </td>
								<td>{{detail['srcIP']}}</td>
								</tr>
								
								
								<tr>  <td>Country </td>
								<td>{{detail['origin']['srcCountry']}}</td>
								</tr>
								<tr> <td>Destination IP</td>
								<td>{{detail['dstIP']}}</td>
								</tr>
								
								<tr>  <td>SIP Method</td>
								<td>{{detail['sipMethod']}}</td>
								</tr>
								<tr> <td>SIP Call Id</td>
								<td>{{detail['sipCallId']}}</td>
								</tr>
								
								<tr>  <td>App Layer Protocol</td>
								<td>{{detail['appLayerProtocol']}}</td>
								</tr>
								
								<tr>  <td>User Agent</td>
								<td>{{detail['sipUserAgent']}}</td>								
								</tr>
								</tbody>
								</table>
						</div>
						
						<div class="table-responsive" ng-show="modalType == 'PROBING'">
							<table class="table b-light">
								<thead>
								 
									<th><span ng-show="modalType"> {{modalType}} </span> Attacks Detail </th>
									
								</thead>
								
								<tbody>
								
								<tr>  <td> Source IP </td>
								<td>{{detail['srcIP']}}</td>
								</tr>
								
								<tr>  <td>Country </td>
								<td>{{detail['origin']['srcCountry']}}</td>
								</tr>
								<tr> <td>Destination IP</td>
								<td>{{detail['dstIP']}}</td>
								</tr>
								
								<tr>  <td>Destination Protocol</td>
								<td>{{detail['dstPort']}}</td>
								</tr>
								
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>								
								</tr>
								</tbody>
								</table>
						</div>
						
						<div class="table-responsive" ng-show="modalType == 'WEB'">
							<table class="table b-light">
								<thead>
								  <tr>
									<th><span ng-show="modalType"> {{modalType}} </span> Attacks Detail </th>
									</tr>
								</thead>	
								<tbody>
								
								<tr>  <td> Source IP </td>
								<td>{{detail['srcIP']}}</td>
								</tr>
								
								
								<tr>  <td>Country </td>
								<td>{{detail['origin']['srcCountry']}}</td>
								</tr>
								<tr> <td>Destination IP</td>
								<td>{{detail['dstIP']}}</td>
								</tr>
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>								
								</tr>
								
								<tr> <td> Http Method </td>
									<td>{{detail['httpMethod']}}</td>
								</tr>
								

								<tr> <td> User Agent </td>
									<td>{{detail['userAgent']}}</td>
								</tr>

								
								<tr> <td> Content Type </td>
									<td>{{detail['contentType']}}</td>
								</tr>

								
								<tr> <td> Request Header </td>
									<td>{{detail['rawLog']['requestHeader']}}</td>
								</tr>

								
								<tr> <td> Response Header </td>
									<td>{{detail['rawLog']['responseHeader']}}</td>
								</tr>	
								
								</tbody>
								</table>
						</div>
						
						
						<div class="table-responsive" ng-show="modalType == 'MALWARE'">
							<table class="table b-light">
								<thead>
								  <tr>
									<th><span ng-show="modalType"> {{modalType}} </span> Attacks Detail </th>
									</tr>
								</thead>	
								<tbody>
								
								
								
								<tr>  <td> Source IP </td>
								<td>{{detail['srcIP']}}</td>
								</tr>
								
								
								<tr>  <td>Country </td>
								<td>{{detail['origin']['srcCountry']}}</td>
								</tr>
								<tr> <td>Destination IP</td>
								<td>{{detail['dstIP']}}</td>
								</tr>
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>								
								</tr>
								
								<tr> <td> Hash </td>
									<td>{{detail['download']['md5Hash']}}</td>
								</tr>
								
								<tr ng-show="detail.downloads[0]" ng-repeat="ha in detail.downloads">
								<td> Hash </td>
								<td>{{ha['md5Hash']}}</td>
								</tr>
								
								<tr> <td> URL </td>
									<td>{{detail['url']}}</td>
								</tr>

																
								
								</tbody>
								</table>
						</div>
						
						<div class="table-responsive" ng-if="modalType == 'DATABASE'">
							<table class="table b-light">
								<thead>
								  <tr>
									<th><span ng-show="modalType"> {{modalType | getCapitilize}} </span> Attacks Detail </th>
									</tr>
								</thead>
								
								<tr>  <td> Source IP </td>
								<td>{{detail['srcIP']}}</td>
								</tr>
								
								<tr>  <td>Country </td>
								<td>{{detail['origin']['srcCountry']}}</td>
								</tr>
								<tr> <td>Destination IP</td>
								<td>{{detail['dstIP']}}</td>
								</tr>
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>	
									
								<tr ng-show="detail['signature']">
								<td> Signature </td>
								<td> {{detail['signature']}}</td>
								</tr>	
								
								<tr ng-show="detail['signatureClass']">
								<td> Signature Class </td>
								<td> {{detail['signatureClass']}}</td>
								</tr>
								
								<tbody ng-show="detail.service == 'mssql'">
								<tr> 
									<td> Mssql Client Name </td>
									<td>{{detail['mssqlClientName']}}</td>
								</tr>

								<tr ng-show="detail.service == 'mssql'">
								<td> Mssql Host Name </td>
								<td>{{detail['mssqlHostName']}}</td>
								</tr>								
								</tbody>
								
								<tbody ng-show="detail.mysqlCommands[0]" ng-repeat ="val in value.mysqlCommands">
								<tr ng-show= "val.mysqlQuery"> 
								<td> Mysql Query </td>
								<td>{{val['mysqlQuery']}}</td>
								</tr>
								
								<tr ng-show="val.mysqlOp"> 
								<td> Mysql OP </td>
								<td>{{val['mysqlOp']}}</td>
								</tr>
								</tbody>
								
								</table>
						</div>
						
						<div class="table-responsive" ng-show="modalType == 'SSH'">
							<table class="table b-light">
								<thead>
								  <tr>
									<th><span ng-show="modalType"> {{modalType}} </span> Attacks Detail </th>
									</tr>
								</thead>
								
								<tbody>
								
								<tr>  <td> Source IP </td>
								<td>{{detail['srcIP']}}</td>
								</tr>
								
								<tr>
								<td> Tool </td>
								<td> {{detail['tool']}} <td>
								</tr>
								
								<tr> <td> Service </td>
								<td>{{detail['service']}}</td>								
								</tr>
								
								</tbody>
								
								<tbody ng-repeat="val in detail['authList']">
							
								<tr> 
								<td> Password </td>
								<td>{{val['password']}}</td>
								</tr>
								
								<tr><td> UserName </td>
								<td>{{val['username']}}</td>
								</tr>
								
								<tr>
								<td> dateTime </td>
								<td>{{val['dateTime']}}</td>
								</tr>
								
								<tr>
								<td> Auth Success </td>
								<td>{{val['success']}}</td>
								</tr>
								</tbody>
								
								
								<tbody>
								
								</table>
						</div>
						
						<div class="clear"></div>
						<div class="modal-footer del_pop_footer">
							<button ng-click="showModalHide()" type="button" class="btn btn-default" style="height:25px; border-radius:20px; margin:10px 0; line-height:10px;"> OK </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
  </div>
  <!-- / main -->
  <!-- right col -->
   <div class="col w-md bg-white-only b-l bg-auto no-border-xs">
    <div class="padder">      
      <!-- streamline -->
      <div class="m-b text-md">Recent Attack Activity</div>
      <div class="showFlow">
	  <div class="streamline m-l-xs b-l m-b-sm" ng-repeat="item in items | limitTo:limitTo"  ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" >
        <div class="sl-item b-danger b-l" ng-show="item.data.type == 'malware'">
          <div class="m-l">
            <div class="text-muted">  <a href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >{{item['data']['name']}} </a></div>
            <p> <a href="#/app/CountryIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a> <a href="" class="text-danger"> {{item.data['type']}}</a> <a data-popup-open="popup-1" href="" ng-click="showModal(item)" > detail </a> </p>
          </div>
        </div>
   
		<div class="sl-item b-info b-l" ng-if="item.data.type == 'web'">
          <div class="m-l">
            <div class="text-muted"> <a href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >{{item['data']['name']}} </a> </div>
            <p> <a href="#/app/CountryIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a> <a href="" class="text-info"> {{item.data['type']}} </a> <a data-popup-open="popup-1" href="" ng-click="showModal(item)" > detail </a> </p>
          </div>
        </div>

		<div class="sl-item b-orange b-l" ng-if="item.data.type =='probing'">
          <div class="m-l">
            <div class="text-muted"> <a href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >{{item['data']['name']}} </a> </div>
            <p> <a href="#/app/CountryIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a> <a href="" class="text-orange"> {{item.data['type']}} </a> <a data-popup-open="popup-1" href="" ng-click="showModal(item)" > detail </a> </p>
          </div>
        </div>
		
		<div class="sl-item b-success b-l" ng-if="item.data.type =='sip'">
          <div class="m-l">
            <div <a href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >{{item['data']['name']}} </a> </div>
            <p> <a href="#/app/CountryIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a> <a href="" class="text-success"> {{item.data['type']}} </a> <a data-popup-open="popup-1" href="" ng-click="showModal(item)" > detail </a> </p>
          </div>
        </div>
		
		<div class="sl-item b-black dker b-l" ng-if="item.data.type =='ssh'">
          <div class="m-l">
            <div class="text-muted"> <a href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >{{item['data']['name']}} </a> </div>
            <p> <a href="#/app/CountryIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a> <a href="" class="text-black"> {{item.data['type']}} </a> <a data-popup-open="popup-1" href="" ng-click="showModal(item)" > detail </a> </p>
          </div>
        </div>
      
		<div class="sl-item b-db lter b-l" ng-if="item.data.type == 'database'">
          <div class="m-l">
            <div class="text-muted"> <a href="#/app/CountryIps/{{item.data['name']}}/cCode/{{item.data['country-code']}}" >{{item['data']['name']}} </a> </div>
            <p> <a href="#/app/CountryIps/{{item.data['name']}}/ip/{{item.data['Ip']}}" target="_blank"> {{item.data['Ip']}} </a> <a href="" class="text-db"> {{item.data['type']}} </a> <a data-popup-open="popup-1" href="" ng-click="showModal(item)" > detail </a> </p>
          </div>
        </div>
	  
	  </div>
	  </div>
      <!-- / streamline -->
    </div>	
  </div>
  <!-- / right col -->
  
  
  


       
    	
   
