<div class="wrapper-md">
	 	
	<h1 class="m-n font-thin h3"> Free Search </h1>
	
</div>

<div class="wrapper-md">
<div class="row"> 
	<div class="col-sm-12 col-xs-12 col-md-12">   
		<div class="panel panel-default" ng-show="type == 'no'">
			<p class="msg-dashBoard"> Sorry No Record Found </p>
		</div>
          <div class="panel panel-default">
			
			<div class="table-responsive">
			  <table class="table b-light">
				<thead>
				  <tr>
						
						 <th> Source IP</th>
						 <th> Destination IP </th> 
						 <th> Destination Port </th> 
						 <th> Service </th>
						 <th> Country </th>
						 <th ng-click="sort('dateTime')">DateTime
						<span class="glyphicon sort-icon" ng-show="sortKey=='dateTime'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
					<th> Detail </th>
				  </tr>
				</thead>
				<tbody>
					 <tr dir-paginate="val in data | itemsPerPage:totalPerPage" total-items="totalCount" current-page="pagination.current">
						<td ><span ng-show="!val['origin']['ip']">-</span> <a href="#/app/showIps/{{val['destination']['countryCode']}}/ip/{{val['origin']['ip']}}" >{{val['origin']['ip']}} </a> </td>
						<td>{{val['destination']['ip']}}</td>
						<td>{{val['dstPort']}}</td>				
						<td><span ng-show="!val['service']"></span>{{val['service']}}</td>						
						<td><span ng-show="!val['origin']['country']">-</span>{{val['origin']['country']}}</td>
						 <td><span ng-show="!val['date_time']"></span>{{val['dateTime'] | dateTimeFilter }}</td>
						 <td> <a href="" ng-click="showModal(val)"> <span class="glyphicon glyphicon-eye-open"> </span> </a></td>
					 </tr>
				</tbody>
			  </table>
			 
			</div>
			
			<div id="content">
					<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
			 </div>
		</div>
		
    </div>
		
		 <div modal="deleteModal" close="showModalHide()">
			<div class="modal-dialog modal-md">
				<div class="modal-content mode_bor">
					<div class="row">
						<div class="col-lg-12">
							<div ng-if="modalType == 'sip'">							
								<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
									<table class="table">
									<tbody>
									<tr>  <td>SIP Method</td>
									<td>{{value['sipMethod']}}</td>
									</tr>
									<tr> <td>SIP Call Id</td>
									<td>{{value['sipCallId']}}</td>
									</tr>
									
									<tr>  <td>App Layer Protocol</td>
									<td>{{value['appLayerProtocol']}}</td>
									</tr>
									<tr> 
										<td> Severity Score </td>
										<td>{{value['severityScore']}}</td>
									</tr>
									
									<tr ng-show="value.sipUserAgent">  <td>User Agent</td>
									<td>{{value['sipUserAgent']}}</td>								
									</tr>
									</tbody>	
									
									</table>
								</div>
								
								</tab>
								<tab heading="IP Analysis">
									<div class="med_text">
									<table class="table">
									<tbody>
									<tr>  <td> Activity Status</td>
									<td>{{analysis['activity']}}</td>
									</tr>
									<tr> <td> Risk Factor </td>
									<td>{{analysis['riskFactor']}}</td>
									</tr>
									
									<tr> <td> Confidence </td>
									<td>{{analysis['confidence']}}</td>
									</tr>
									
									<tr>  <td> First Seen </td>
									<td>{{analysis['firstSeen']}}</td>								
									</tr>
									
									<tr>  <td> Last Seen </td>
									<td>{{analysis['lastSeen']}}</td>								
									</tr>
									</tbody>	
									
									</table>
								</div>
								</tab>
								<tab heading="IP Header" ng-show="network.signatures">
									<div class="med_text">
										<table class="table">
										<tbody>
									
									
									
									<tr> <td> IP version  </td>
										<td>{{network['ipHeader']['ipVersion']}}</td>
									</tr>
									
									<tr> <td> Header length </td>
										<td>{{network['ipHeader']['headerLength']}}</td>
									</tr>
									
									<tr> <td> Total length </td>
										<td>{{network['ipHeader']['totalLength']}}</td>
									</tr>
									
									<tr> <td> Protocol </td>
										<td>{{network['ipHeader']['protocol']}}</td>
									</tr>
									
									<tr> <td> csum </td>
										<td>{{network['ipHeader']['csum']}}</td>
									</tr>
																	
									</tbody>
										</table>
									</div>
								</tab>		
								<tab heading="UDP Header" ng-show="network.udpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['udpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['udpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> UDP LEN </td>
														<td>{{network['udpHeader']['udpLen']}}</td>
													</tr>
													<tr>
														<td> UDP CSUM </td>
														<td>{{network['udpHeader']['udpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Tcp Header" ng-show="network.tcpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['tcpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['tcpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> Flags </td>
														<td>{{network['tcpHeader']['flags']}}</td>
													</tr>
													<tr>
														<td> Tcp CSUM </td>
														<td>{{network['tcpHeader']['tcpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="PayLoad" ng-show="network.payload">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> PayLoad </td>
															<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
							<tab heading="Signatures" ng-show="network.signatures">
								<div class="med_text">
									<table class="table">
										<tbody>
									
									<tr> <td> Signatures </td>
										<td>{{network['signatures']}}</td>
									</tr>
									</tbody>
									</table>
								</div>
							</tab>
							
							</tabset>		
										
							</div>
							
							
							<div ng-if="modalType =='web'">
							<tabset>
								<tab heading="Attack Information" active="true">
								
									<div class="med_text">
									<table class="table">
										
									<tbody>
									<tr> <td> Http Method </td>
										<td>{{value['httpMethod']}}</td>
									</tr>
									
									<tr ng-show="value['severityStatus']"> 
									<td> Severity Status</td>
										<td>{{value['severityStatus']}}</td>
									</tr>
									<tr> 
										<td> Severity Score </td>
										<td>{{value['severityScore']}}</td>
									</tr>
									
									<tr> <td> User Agent </td>
										<td>{{value['userAgent']}}</td>
									</tr>	

									<tr> <td> Content Type </td>
										<td>{{value['contentType']}}</td>
									</tr>

									
									<tr> <td> Request Header </td>
										<td><pre class="preheader"> {{value['rawLog']['requestHeader']}} </pre> </td>
									</tr>

									
									<tr> <td> Response Header </td>
										<td> <pre class="preheader"> {{value['rawLog']['responseHeader']}} </pre></td>
									</tr>		
									
									</tbody>
									</table>
								</div>
								
								</tab>
								<tab heading="IP Analysis">
									<div class="med_text">
									<table class="table">
									<tbody>
									<tr>  <td> Activity Status</td>
									<td>{{analysis['activity']}}</td>
									</tr>
									<tr> <td> Risk Factor </td>
									<td>{{analysis['riskFactor']}}</td>
									</tr>
									
									<tr> <td> Confidence </td>
									<td>{{analysis['confidence']}}</td>
									</tr>
									
									<tr>  <td> First Seen </td>
									<td>{{analysis['firstSeen']}}</td>								
									</tr>
									
									<tr>  <td> Last Seen </td>
									<td>{{analysis['lastSeen']}}</td>								
									</tr>
									</tbody>	
									
									</table>
								</div>
								</tab>
								<tab heading="Rule List" ng-show="value.ruleList">
									<div class="med_text">
											<table class="table">
												<tbody ng-repeat="val in value['ruleList']">
													<tr> 
													<td> RuleId </td>
													<td>{{val['ruleId']}}</td>
													</tr>
													<tr> 
													<td> Regex Expression </td>
													<td>{{val['regexPattern']}}</td>
													</tr>
													
													<tr><td> RuleCategory </td>
													<td>{{val['ruleCategory']}}</td>
													</tr>
													
													<tr>
													<td> RuleFile </td>
													<td>{{val['ruleFile']}}</td>
													</tr>
													
													<tr>
													<td> RuleMessage </td>
													<td>{{val['ruleMessage']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
								</tab>
								
								<tab heading="IP Header" ng-show="network.ipHeader">
									<div class="med_text">
										<table class="table">
										<tbody>
									
									<tr> <td> IP version  </td>
										<td>{{network['ipHeader']['ipVersion']}}</td>
									</tr>
									
									<tr> <td> Header length </td>
										<td>{{network['ipHeader']['headerLength']}}</td>
									</tr>
									
									<tr> <td> Total length </td>
										<td>{{network['ipHeader']['totalLength']}}</td>
									</tr>
									
									<tr> <td> Protocol </td>
										<td>{{network['ipHeader']['protocol']}}</td>
									</tr>
									
									<tr> <td> csum </td>
										<td>{{network['ipHeader']['csum']}}</td>
									</tr>
																	
									</tbody>
										</table>
									</div>
								</tab>		
								<tab heading="UDP Header" ng-show="network.udpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['udpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['udpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> UDP LEN </td>
														<td>{{network['udpHeader']['udpLen']}}</td>
													</tr>
													<tr>
														<td> UDP CSUM </td>
														<td>{{network['udpHeader']['udpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Tcp Header" ng-show="network.tcpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['tcpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['tcpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> Flags </td>
														<td>{{network['tcpHeader']['flags']}}</td>
													</tr>
													<tr>
														<td> Tcp CSUM </td>
														<td>{{network['tcpHeader']['tcpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="PayLoad" ng-show="network.payload">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> PayLoad </td>
															<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
							
								<tab heading="Signatures" ng-show="network.signatures">
									<div class="med_text">
										<table class="table">
										<tbody>
									
										<tr> <td> Signatures </td>
										<td>{{network['signatures']}}</td>
										</tr>
									</tbody>
									</table>
									</div>
							
								</tab>
							
							</tabset>	
								
								
							</div>
									
								<div ng-if="modalType == 'malware'">
									<tabset>
									<tab heading="Attack Information" active="true">
										<div class="med_text">
											<table class="table">
												<tbody>
												<tr> <td> Hash </td>
													<td><a href="" ng-click="getHash(value.download.md5Hash)">{{value['download']['md5Hash']}}  </a>
												</tr>
												
												<tr> <td> File Path </td>
													<td>{{value['download']['filePath']}}</td>
												</tr>
												
												<tr> <td> URL </td>
													<td>{{value['download']['url']}}</td>
												</tr>
												<tr> 
													<td> Severity Score </td>
													<td>{{value['severityScore']}}</td>
												</tr>											
											</tbody>
											</table>
										</div>
									</tab>
									<tab heading="IP Analysis">
										<div class="med_text">
											<table class="table">
											<tbody>
											<tr>  <td> Activity Status</td>
											<td>{{analysis['activity']}}</td>
											</tr>
											<tr> <td> Risk Factor </td>
											<td>{{analysis['riskFactor']}}</td>
											</tr>
											
											<tr> <td> Confidence </td>
											<td>{{analysis['confidence']}}</td>
											</tr>
											
											<tr>  <td> First Seen </td>
											<td>{{analysis['firstSeen']}}</td>								
											</tr>
											
											<tr>  <td> Last Seen </td>
											<td>{{analysis['lastSeen']}}</td>								
											</tr>
											</tbody>	
											
											</table>
										</div>
									</tab>
										<tab heading="IP Header" ng-show="network.ipHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													
													<tr>
														<td> IP version  </td>
														<td>{{network['ipHeader']['ipVersion']}}</td>
													</tr>
													<tr>
														<td> Header length </td>
														<td>{{network['ipHeader']['headerLength']}}</td>
													</tr>
													<tr>
														<td> Total length </td>
														<td>{{network['ipHeader']['totalLength']}}</td>
													</tr>
													<tr>
														<td> Protocol </td>
														<td>{{network['ipHeader']['protocol']}}</td>
													</tr>
													<tr>
														<td> csum </td>
														<td>{{network['ipHeader']['csum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="UDP Header" ng-show="network.udpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['udpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['udpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> UDP LEN </td>
														<td>{{network['udpHeader']['udpLen']}}</td>
													</tr>
													<tr>
														<td> UDP CSUM </td>
														<td>{{network['udpHeader']['udpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Tcp Header" ng-show="network.tcpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['tcpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['tcpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> Flags </td>
														<td>{{network['tcpHeader']['flags']}}</td>
													</tr>
													<tr>
														<td> Tcp CSUM </td>
														<td>{{network['tcpHeader']['tcpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="PayLoad" ng-show="network.payload">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> PayLoad </td>
															<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Signatures" ng-show="network.signatures">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Signatures </td>
														<td>{{network['signatures']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
								</tabset>
								</div>	
								
							
							<div ng-if="modalType == 'database'">	
									<tabset>
									<tab heading="Attack Information" active="true">
										<div class="tab_text">
											<table class="table tab_text">
												<tbody ng-show="value.service == 'mssql'">
												<tr> 
													<td> Severity Score </td>
													<td>{{value['severityScore']}}</td>
												</tr>
												
												<tr > 
													<td> Mssql Client Name </td>
													<td>{{value['mssqlClientName']}}</td>
												</tr>

												<tr ng-show="value.service == 'mssql'">
												
												<td> Mssql Host Name </td>
												<td>{{value['mssqlHostName']}}</td>
												</tr>								
												</tbody>
									
												<tbody ng-show="value.mysqlCommands[0]" ng-repeat ="val in value.mysqlCommands">
												<tr ng-show= "val.mysqlQuery"> 
												<td> Mysql Query </td>
												<td> <pre class="preheader"> {{val['mysqlQuery']}} </td> </td>
												</tr>
												
												<tr ng-show="val.mysqlOp"> 
												<td> Mysql OP </td>
												<td>{{val['mysqlOp']}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="IP Analysis">
										<div class="med_text">
											<table class="table">
											<tbody>
											<tr>  <td> Activity Status</td>
											<td>{{analysis['activity']}}</td>
											</tr>
											<tr> <td> Risk Factor </td>
											<td>{{analysis['riskFactor']}}</td>
											</tr>
											
											<tr> <td> Confidence </td>
											<td>{{analysis['confidence']}}</td>
											</tr>
											
											<tr>  <td> First Seen </td>
											<td>{{analysis['firstSeen']}}</td>								
											</tr>
											
											<tr>  <td> Last Seen </td>
											<td>{{analysis['lastSeen']}}</td>								
											</tr>
											</tbody>	
											</table>
										</div>
									</tab>
									<tab heading="IP Header" ng-show="network.ipHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													
													<tr>
														<td> IP version  </td>
														<td>{{network['ipHeader']['ipVersion']}}</td>
													</tr>
													<tr>
														<td> Header length </td>
														<td>{{network['ipHeader']['headerLength']}}</td>
													</tr>
													<tr>
														<td> Total length </td>
														<td>{{network['ipHeader']['totalLength']}}</td>
													</tr>
													<tr>
														<td> Protocol </td>
														<td>{{network['ipHeader']['protocol']}}</td>
													</tr>
													<tr>
														<td> csum </td>
														<td>{{network['ipHeader']['csum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="UDP Header" ng-show="network.udpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['udpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['udpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> UDP LEN </td>
														<td>{{network['udpHeader']['udpLen']}}</td>
													</tr>
													<tr>
														<td> UDP CSUM </td>
														<td>{{network['udpHeader']['udpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Tcp Header" ng-show="network.tcpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['tcpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['tcpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> Flags </td>
														<td>{{network['tcpHeader']['flags']}}</td>
													</tr>
													<tr>
														<td> Tcp CSUM </td>
														<td>{{network['tcpHeader']['tcpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="PayLoad" ng-show="network.payload">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> PayLoad </td>
															<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Signatures" ng-show="network.signatures">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Signatures </td>
														<td>{{network['signatures']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
								</tabset>
									
										
								
							</div>
							
							<div ng-if="modalType == 'ssh'">
								<tabset>
									<tab heading="Attack Information" active="true">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Tool </td>
														<td> {{value['tool']}} <td>
													</tr>
													<tr> 
														<td> Severity Score </td>
														<td>{{value['severityScore']}}</td>
													</tr>
													
												</tbody>
												<tbody ng-repeat="val in value['authList']">
													<tr> 
														<td> Password </td>
														<td>{{val['password']}}</td>
													</tr>
												
												<tr>
													<td> UserName </td>
													<td>{{val['username']}}</td>
												</tr>
												
												<tr>
													<td> dateTime </td>
													<td>{{value['dateTime']}}</td>
												</tr>
												
												<tr>
												<td> Auth Success </td>
												<td>{{val['success']}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="IP Analysis">
										<div class="med_text">
											<table class="table">
											<tbody>
											<tr>  <td> Activity Status</td>
											<td>{{analysis['activity']}}</td>
											</tr>
											<tr> <td> Risk Factor </td>
											<td>{{analysis['riskFactor']}}</td>
											</tr>
											
											<tr> <td> Confidence </td>
											<td>{{analysis['confidence']}}</td>
											</tr>
											
											<tr>  <td> First Seen </td>
											<td>{{analysis['firstSeen']}}</td>								
											</tr>
											
											<tr>  <td> Last Seen </td>
											<td>{{analysis['lastSeen']}}</td>								
											</tr>
											</tbody>	
											</table>
										</div>
									</tab>
									<tab heading="IP Header" ng-show="network.ipHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> IP version  </td>
														<td>{{network['ipHeader']['ipVersion']}}</td>
													</tr>
													<tr>
														<td> Header length </td>
														<td>{{network['ipHeader']['headerLength']}}</td>
													</tr>
													<tr>
														<td> Total length </td>
														<td>{{network['ipHeader']['totalLength']}}</td>
													</tr>
													<tr>
														<td> Protocol </td>
														<td>{{network['ipHeader']['protocol']}}</td>
													</tr>
													<tr>
														<td> csum </td>
														<td>{{network['ipHeader']['csum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="UDP Header" ng-show="network.udpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['udpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['udpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> UDP LEN </td>
														<td>{{network['udpHeader']['udpLen']}}</td>
													</tr>
													<tr>
														<td> UDP CSUM </td>
														<td>{{network['udpHeader']['udpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Tcp Header" ng-show="network.tcpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['tcpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['tcpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> Flags </td>
														<td>{{network['tcpHeader']['flags']}}</td>
													</tr>
													<tr>
														<td> Tcp CSUM </td>
														<td>{{network['tcpHeader']['tcpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="PayLoad" ng-show="network.payload">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> PayLoad </td>
															<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Signatures" ng-show="network.signatures">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Signatures </td>
														<td>{{network['signatures']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
								</tabset>	
									
									
							</div>
							
							
							<div ng-if="modalType == 'probing'">
								<tabset>
									<tab heading="IP Information" active="true">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Protocol </td>
														<td> {{value['protocol']}} <td>
													</tr>
													<tr> 
														<td> Severity Score </td>
														<td>{{value['severityScore']}}</td>
													</tr>
													<tr>  <td> Activity Status</td>
													<td>{{analysis['activity']}}</td>
													</tr>
													<tr> <td> Risk Factor </td>
													<td>{{analysis['riskFactor']}}</td>
													</tr>
													
													<tr> <td> Confidence </td>
													<td>{{analysis['confidence']}}</td>
													</tr>
													
													<tr>  <td> First Seen </td>
													<td>{{analysis['firstSeen']}}</td>								
													</tr>
													
													<tr>  <td> Last Seen </td>
													<td>{{analysis['lastSeen']}}</td>								
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
										<tab heading="IP Header" ng-show="network.ipHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													
													<tr>
														<td> IP version  </td>
														<td>{{network['ipHeader']['ipVersion']}}</td>
													</tr>
													<tr>
														<td> Header length </td>
														<td>{{network['ipHeader']['headerLength']}}</td>
													</tr>
													<tr>
														<td> Total length </td>
														<td>{{network['ipHeader']['totalLength']}}</td>
													</tr>
													<tr>
														<td> Protocol </td>
														<td>{{network['ipHeader']['protocol']}}</td>
													</tr>
													<tr>
														<td> csum </td>
														<td>{{network['ipHeader']['csum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="UDP Header" ng-show="network.udpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['udpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['udpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> UDP LEN </td>
														<td>{{network['udpHeader']['udpLen']}}</td>
													</tr>
													<tr>
														<td> UDP CSUM </td>
														<td>{{network['udpHeader']['udpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Tcp Header" ng-show="network.tcpHeader">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Source Port </td>
														<td>{{network['tcpHeader']['srcPort']}}</td>
													</tr>
													<tr>
														<td> Destination Port  </td>
														<td>{{network['tcpHeader']['dstPort']}}</td>
													</tr>
													<tr>
														<td> Flags </td>
														<td>{{network['tcpHeader']['flags']}}</td>
													</tr>
													<tr>
														<td> Tcp CSUM </td>
														<td>{{network['tcpHeader']['tcpCsum']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="PayLoad" ng-show="network.payload">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> PayLoad </td>
															<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
									<tab heading="Signatures" ng-show="network.signatures">
										<div class="med_text">
											<table class="table">
												<tbody>
													<tr>
														<td> Signatures </td>
														<td>{{network['signatures']}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</tab>
								</tabset>		
							</div>
							
							
							
							<div class="clear"></div>
							<div class="modal-footer del_pop_footer">
								<button ng-click="showModalHide()" type="button" class="btn btn-default" style="height:25px; border-radius:20px; margin:10px 0; line-height:10px;"> OK </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	 
	 
   </div>	
		</div>
   
 


