 <div ng-controller="addInternalCTRL">
<div class="bg-light lter b-b wrapper-sm">
  <h1 class="m-n font-thin h3"> Internal Threat   </h1>
   <div class="fileUpload btn btn-primary">
		<span>Upload CSV</span>
		 <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="application/pdf" ngf-max-height="1000" ngf-max-size="1MB">
		 Select File</button>
	</div>
 </div>  

<div class="wrapper-md">
		<div class="row">
			<div class="col-lg-12">
      
		 <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>	
         <form name="userForm" ng-submit="submitForm()" novalidate>
		
		<div class="form-group" ng-class="{ 'has-error' : userForm.ipBlock.$invalid && !userForm.hostIP.$pristine }">
            <label>IP Address</label>
            <input type="text" name="ipBlock" class="form-control" ng-model="user.ipBlock" required>
            <p ng-show="userForm.ipBlock.$invalid && !userForm.ipBlock.$pristine" class="help-block">IP Address is required.</p>
        </div>
		 
       
		<!-- vs-google-autocomplete="options" -->
        <div class="form-group">
          <label for="cityFR">City </label>
          <input vs-google-autocomplete="options"
                 ng-model="cityFR" 
                 type="text" 
                 name="cityFR"
                 id="cityFR"
                 class="form-control"
                 vs-city="user.city"
                 vs-country="user.country"
                 vs-latitude="user.geoPoint.lat"
                 vs-longitude="user.geoPoint.lon"			
                 placeholder="Enter city name" >
        </div>
		
		<div class="form-group" >
            <label> Latitude / longitude </label>
          
            <p ng-show="user.geoPoint"> {{user.geoPoint.lat}} <span ng-show="user.geoPoint"> , </span>{{user.geoPoint.lon}}</p>
        </div>
	  
        <!-- Department -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.department.$invalid && !userForm.department.$pristine }">
            <label>Department</label>
            <input type="text" name="department" class="form-control" ng-model="user.department" ng-minlength="3" ng-maxlength="12">
            <p ng-show="userForm.department.$error.minlength" class="help-block">DepartmentName is too short.</p>
            <p ng-show="userForm.department.$error.maxlength" class="help-block">DepartmentName is too long.</p>
        </div>
        
		 <!-- Branch -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.branch.$invalid && !userForm.branch.$pristine }">
            <label>Branch</label>
            <input type="text" name="organization" class="form-control" ng-model="user.branch" ng-minlength="3" ng-maxlength="12">
           <p ng-show="userForm.branch.$error.minlength" class="help-block">branch is too short.</p>
            <p ng-show="userForm.branch.$error.maxlength" class="help-block">branch is too long.</p>
        </div>
		
        <!-- Organization -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.organization.$invalid && !userForm.organization.$pristine }">
            <label>Organization</label>
            <input type="text" name="organization" class="form-control" ng-model="user.organization" ng-minlength="3" ng-maxlength="12">
           <p ng-show="userForm.organization.$error.minlength" class="help-block">Organization is too short.</p>
            <p ng-show="userForm.organization.$error.maxlength" class="help-block">Organization is too long.</p>
        </div>
		
		<div class="form-group" ng-class="{ 'has-error' : userForm.hostMAC.$invalid && !userForm.hostMAC.$pristine }">
            <label> Mac Address</label>
            <input type="text" name="hostMAC" class="form-control" ng-model="user.hostMAC" required>
            <p ng-show="userForm.hostMAC.$invalid && !userForm.hostMAC.$pristine" class="help-block">Mac Address is required.</p>
        </div>
		
		<div class="form-group" ng-class="{ 'has-error' : userForm.hostname.$invalid && !userForm.hostname.$pristine }">
            <label> HostName </label>
            <input type="text" name="hostname" class="form-control" ng-model="user.hostname" required>
            <p ng-show="userForm.hostname.$invalid && !userForm.hostname.$pristine" class="help-block">HostName is required.</p>
        </div>
		
		
		
		
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
		</form>
        
 </div>
</div>
</div> 

<div id="veil" ng-show="isLoading"></div>
	<div id="feedLoading" ng-show="isLoading">Loading...</div>	
	
</div>	