<div class="bg-light lter b-b wrapper-sm">
  <h1 class="m-n font-thin h3"> Internal Threat   </h1>
 </div>  

<div class="wrapper-md">
		<div class="row">
			<div class="col-lg-12">
        <div ng-controller="addInternalCTRL">
         <form name="userForm" ng-submit="submitForm()" novalidate>

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.userAssigned.$invalid && !userForm.userAssigned.$pristine }">
            <label>User Name</label>
            <input type="text" name="userAssigned" class="form-control" ng-model="user.userAssigned" required>
            <p ng-show="userForm.userAssigned.$invalid && !userForm.userAssigned.$pristine" class="help-block">You name is required.</p>
        </div>
      
        <!-- Department -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.department.$invalid && !userForm.department.$pristine }">
            <label>Department</label>
            <input type="text" name="department" class="form-control" ng-model="user.department" ng-minlength="3" ng-maxlength="12">
            <p ng-show="userForm.department.$error.minlength" class="help-block">DepartmentName is too short.</p>
            <p ng-show="userForm.department.$error.maxlength" class="help-block">DepartmentName is too long.</p>
        </div>
        
        <!-- Location -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.location.$invalid && !userForm.location.$pristine }">
            <label>Location</label>
            <input type="text" name="location" class="form-control" ng-model="user.location" ng-minlength="3" ng-maxlength="12">
           <p ng-show="userForm.location.$error.minlength" class="help-block">Location is too short.</p>
            <p ng-show="userForm.location.$error.maxlength" class="help-block">Location is too long.</p>
        </div>
		
		<div class="form-group" ng-class="{ 'has-error' : userForm.hostIP.$invalid && !userForm.hostIP.$pristine }">
            <label>IP Address</label>
            <input type="text" name="hostIP" class="form-control" ng-model="user.hostIP" required>
            <p ng-show="userForm.hostIP.$invalid && !userForm.hostIP.$pristine" class="help-block">IP Address is required.</p>
        </div>
        
		<div class="form-group" ng-class="{ 'has-error' : userForm.hostMAC.$invalid && !userForm.hostMAC.$pristine }">
            <label> Mac Address</label>
            <input type="text" name="hostMAC" class="form-control" ng-model="user.hostMAC" required>
            <p ng-show="userForm.hostMAC.$invalid && !userForm.hostMAC.$pristine" class="help-block">Mac Address is required.</p>
        </div>
		
		<div class="form-group" ng-class="{ 'has-error' : userForm.hostname.$invalid && !userForm.hostname.$pristine }">
            <label> HostName </label>
            <input type="text" name="hostname" class="form-control" ng-model="user.hostname" required>
            <p ng-show="userForm.hostname.$invalid && !userForm.hostname.$pristine" class="help-block">HostName is required.</p>
        </div>
		
		<div class="form-group" ng-class="{ 'has-error' : userForm.hostOS.$invalid && !userForm.hostOS.$pristine }">
            <label> Operating System</label>
            <input type="text" name="hostOS" class="form-control" ng-model="user.hostOS" required>
            <p ng-show="userForm.hostOS.$invalid && !userForm.hostOS.$pristine" class="help-block">Operating System Name is required.</p>
        </div>
		
		
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
		</form>
        </div>
 </div>
</div>
</div> 