<div class="bg-light lter b-b wrapper-sm">
  <h1 class="m-n font-thin h3"> Internal Threat   </h1>
 </div>  
<div class="bg-light lter b-b wrapper-sm">
  
  <div class="row">
  <!--      
		<div class="col-sm-2">
		<mydatepicker ng-model="formData.date" date-options="dateOptions" opened="opened"/>
		</div>
		<div class="col-sm-2">
			<mydatepicker ng-model="formData.date" date-options="dateOptions" opened="opened"/>   
        </div>
   -->
    <div class="col-lg-6">
     <a ui-sref="app.addInternalThreatForm">
		 <i class="glyphicon glyphicon-file"></i>
			<!-- <i class="glyphicon glyphicon-dashboard"></i> -->
          <span> Add New Record </span>
        </a>
	</div>
 </div>
 
<div class="wrapper-md">
	<div class="row">
		<div class="col-lg-12">
			<leaflet center="center" layers="layers" markers="markers" width="100%" height="400px"></leaflet>
		</div>
	</div>			
</div>

