<div class="bg-light lter b-b wrapper-sm">
  <h1 class="m-n font-thin h3">  Threat Analysis  </h1>
</div>
<ul class="breadcrumb">
                    <li><a ui-sref="app.dashboard-v1"> Dashboard</a></li>                    
					<li><a href="#/app/globalThreat"> GlobalThreat </a></li>  
					<li ><a href="" ng-click ="reload()"> Attack Types </a></li>
					<li class="active">IP History</li>
</ul>
	<div class="wrapper-md">
	<div class="panel hbox hbox-auto-xs no-border">

			<div class="col wrapper-sm w-md bg-auto dk r-r">	
				
			<div class="upfront_sec">
					<h2 class="head">Analysis Result for:</h2>
					<p>   <span class="ipAddress"> {{ipAddress}} <span></p>
					<p> <span class="cityName">{{country.srcCity}}</span> <span class="countryName"><img src="img/gif/{{country.srcCountryCode}}.gif"> <span>{{country.srcCountry}} </span>  </p>  
						
			</div>
			
			<div class="upfront_sec activeIP">	
					<!--<img src="img/logo.png" class="logo_main" style="float: left; margin:10px 5px 0 5px; width:18px;" /> -->
					<div ng-show = "analysis.activity == 'Active'">
					 <h2><i class="fa fa-life-ring fa-3"></i>  {{analysis.activity}} </h2>
					</div>
					
					<div ng-show = "analysis.activity == 'Hibernate'">
					 <h2><i class="glyphicon glyphicon-off"></i>  {{analysis.activity}} </h2>
					</div>
					
					<div ng-show = "analysis.activity == 'Sleep'">
					 <h2><i class="glyphicon glyphicon-off"></i>  {{analysis.activity}} </h2>
					</div>
					
					<div ng-show = "analysis.activity == 'Inactive'">
					 <h2><i class="glyphicon glyphicon-off"></i>  Previously Malicious </h2>
					</div>	
					
					<hr class="hr">
					<h6>First seen <span class="date">{{analysis.firstSeen}}</span> </h6> 
					<h6>Last seen <span class="date">{{analysis.lastSeen}}</span></h6>
					<!--
					<h2 >Probing <span class="badge bg-info">{{country.connections}} </span> </h2> 
					<h2>Attacks <span class="badge bg-danger"> {{country.attacks}}</h2>
					-->
					<!-- <h3> Risk Factor <span class="badge" ng-class="{'bg-warning':(analysis.riskFactor >= '1.0' || analysis.riskFactor <='2.0'), 'bg-info':(analysis.riskFactor >='3' || analysis.riskFactor <='4'), 'bg-info':(analysis.riskFactor >='5' || analysis.riskFactor <='9')}"> {{analysis.riskFactor}} </span> -->
					<h6> Risk Factor <span class="badge ipRisk" ng-class="{'bg-warning': col == 'yellow', 'bg-orange': col == 'orange', 'bg-danger':col == 'red'}" title="This value out of 10 is a calculated factor which determines how much of a threat a certain IP is."> {{analysis.riskFactor}} </span>  <span class="info-but" data-trigger="hover" data-placement="right" data-title="This value out of 10 is a calculated factor which determines how much of a threat a certain IP is."
					bs-tooltip> <i class="fa fa-info-circle"></i> </span>  </h6>
					<h6> Confidence <span class="badge bg-info ipRisk" title="This is a percentage of how reliable our analysis of this IP is. Smaller percentages might be due to 
not enough data, or old data." > {{analysis.confidence}} </span>  <span class="info-but" data-trigger="hover" data-placement="right" data-title="This is a percentage of how reliable our analysis of this IP is. Smaller percentages might be due to 
not enough data, or old data." bs-tooltip> <i class="fa fa-info-circle"></i> </span>  </h6>
					<!--
					<div class = "block" ng-class="{ 'bg-warning': analysis.riskFactor >=0 || analysis.riskFactor <=2 , 'bg-warning':analysis.riskFactor >=3 || analysis.riskFactor <=4, 'bg-danger':analysis.riskFactor >=5 || analysis.riskFactor <=9}">
					<p class="font-thin h1 text-center">{{analysis.riskFactor}} </p>
					<span class="text-muted text-xs">Risk Factor</span>
					</div>
					-->
	
			</div>
		  
	

				 <div class="row row-lg text-center wrapper-sm">
				<button class="btn btn-md btn-info"ng-click="viewIPHistory(countryName,ipAddress)" ng-show="showMap"> View IP History  </button>
				<button class="btn btn-md btn-info" ng-click="viewMap()" ng-show="showIp"> View MAP  </button>
				</div>
				
        </div>

	
        <div class="col wrapper" >
         <div class="wrapper-sm">
		 <div class="row">
		 
		 <div ng-show="showMap" class="col-md-6">
				<leaflet center="center" layers="layers" markers="markers" width="100%" height="400px" defaults="defaults" ></leaflet>
		</div>
		 <div ng-show="showMap" class="col-md-6 ">
				<div class="panel wrapper">		
				 <highchart id="chart1" config="barConfig" class="span9" ></highchart>
				
				</div>
		</div>
		
		</div>
			

		
		</div>
		 <div ng-show="showIp" >		
		<div class="clear"> </div>
			<div class="col-xs-12">
			<div class="table-responsive">
			  <table class="table table-striped b-t b-light">
			   <thead>
						<tr>
							 <th> Destination IP </th> 
							 <th> Destination Port </th> 
							 <th> Service </th>
							 <th >DateTime</th>
							 <th> <Detail> </th>
							
						 </tr>
				</thead>	
				<tbody>
					<tr dir-paginate="val in data | itemsPerPage:20" total-items="totalCount" current-page="pagination.current">
					 <td>{{val['dstIP']}}</td>
					<td>{{val['dstPort']}}</td>
					<td>{{val['service']}}</td>				
					 <td>{{val['dateTime'] | dateTimeFilter}}</td>
					 <td> <a href="" ng-click="showModal(val)"> <span class="glyphicon glyphicon-eye-open"> </span> </a></td> 
					</tr>
				  
				</tbody>
			  </table>
			  </div>
			  
			  <div id="content">
					<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
			</div>
			</div>
	
		<div modal="deleteModal" close="showModalHide()">
		<div class="modal-dialog modal-md">
			<div class="modal-content mode_bor">
				<div class="row">
					<div class="col-lg-12">
						<div ng-if="modalType == 'sip'">							
							<tabset>
							<tab heading="Attack Information" active="true">
								<div class="med_text">
								<table class="table">
								<tbody>
								<tr>  <td>SIP Method</td>
								<td>{{value['sipMethod']}}</td>
								</tr>
								<tr> <td>SIP Call Id</td>
								<td>{{value['sipCallId']}}</td>
								</tr>
								
								<tr>  <td>App Layer Protocol</td>
								<td>{{value['appLayerProtocol']}}</td>
								</tr>
								
								<tr ng-show="value.sipUserAgent">  <td>User Agent</td>
								<td>{{value['sipUserAgent']}}</td>								
								</tr>
								</tbody>	
								
								</table>
							</div>
							
							</tab>
							
							<tab heading="IP Header" ng-show="network">
								<div class="med_text">
									<table class="table">
									<tbody>
								
								
								
								<tr> <td> IP version  </td>
									<td>{{network['ipHeader']['ipVersion']}}</td>
								</tr>
								
								<tr> <td> Header length </td>
									<td>{{network['ipHeader']['headerLength']}}</td>
								</tr>
								
								<tr> <td> Total length </td>
									<td>{{network['ipHeader']['totalLength']}}</td>
								</tr>
								
								<tr> <td> Protocol </td>
									<td>{{network['ipHeader']['protocol']}}</td>
								</tr>
								
								<tr> <td> csum </td>
									<td>{{network['ipHeader']['csum']}}</td>
								</tr>
																
								</tbody>
									</table>
								</div>
							</tab>		
							<tab heading="UDP Header" ng-show="network">
								<div class="med_text">
								<table class="table">
									<tbody>
								
								<tr> <td> Source Port </td>
									<td>{{network['udpHeader']['srcPort']}}</td>
								</tr>
								
								<tr> <td> Destination Port  </td>
									<td>{{network['udpHeader']['dstPort']}}</td>
								</tr>
								
								<tr> <td> UDP LEN </td>
									<td>{{network['udpHeader']['udpLen']}}</td>
								</tr>
								
								<tr> <td> UDP CSUM </td>
									<td>{{network['udpHeader']['udpCsum']}}</td>
								</tr>
								
																
								</tbody>
								</table>
								</div>
							
							</tab>
						
						<tab heading="PayLoad" ng-show="network">
							<div class="med_text">
								<table class="table">
									<tbody>
								
								<tr> <td> PayLoad </td>
										<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
								</tr>
								</tbody>
								</table>
								</div>
						</tab>
						
						<tab heading="Signatures" ng-show="network">
							<div class="med_text">
								<table class="table">
									<tbody>
								
								<tr> <td> Signatures </td>
									<td>{{network['signatures']}}</td>
								</tr>
								</tbody>
								</table>
							</div>
						
						</tab>
						
						</tabset>		
								
								
						</div>
						
						
						<div ng-if="modalType =='web'">
						<tabset>
							<tab heading="Attack Information" active="true">
								<div class="med_text">
								<table class="table">
									
								<tbody>
								<tr> <td> Http Method </td>
									<td>{{value['httpMethod']}}</td>
								</tr>
								
								<tr ng-show="value['severityStatus']"> 
								<td> Severity Status</td>
									<td>{{value['severityStatus']}}</td>
								</tr>
								

								<tr> <td> User Agent </td>
									<td>{{value['userAgent']}}</td>
								</tr>	

								<tr> <td> Content Type </td>
									<td>{{value['contentType']}}</td>
								</tr>

								
								<tr> <td> Request Header </td>
									<td>{{value['rawLog']['requestHeader']}}</td>
								</tr>

								
								<tr> <td> Response Header </td>
									<td>{{value['rawLog']['responseHeader']}}</td>
								</tr>		
								
								</tbody>
								</table>
							</div>
							
							</tab>
							
							<tab heading="IP Header" ng-show="network">
								<div class="med_text">
									<table class="table">
									<tbody>
								
								
								
								<tr> <td> IP version  </td>
									<td>{{network['ipHeader']['ipVersion']}}</td>
								</tr>
								
								<tr> <td> Header length </td>
									<td>{{network['ipHeader']['headerLength']}}</td>
								</tr>
								
								<tr> <td> Total length </td>
									<td>{{network['ipHeader']['totalLength']}}</td>
								</tr>
								
								<tr> <td> Protocol </td>
									<td>{{network['ipHeader']['protocol']}}</td>
								</tr>
								
								<tr> <td> csum </td>
									<td>{{network['ipHeader']['csum']}}</td>
								</tr>
																
								</tbody>
									</table>
								</div>
							</tab>		
							<tab heading="UDP Header" ng-show="network">
								<div class="med_text">
								<table class="table">
									<tbody>
								
								<tr> <td> Source Port </td>
									<td>{{network['udpHeader']['srcPort']}}</td>
								</tr>
								
								<tr> <td> Destination Port  </td>
									<td>{{network['udpHeader']['dstPort']}}</td>
								</tr>
								
								<tr> <td> UDP LEN </td>
									<td>{{network['udpHeader']['udpLen']}}</td>
								</tr>
								
								<tr> <td> UDP CSUM </td>
									<td>{{network['udpHeader']['udpCsum']}}</td>
								</tr>
								
																
								</tbody>
								</table>
								</div>
							
							</tab>
						
						<tab heading="PayLoad" ng-show="network">
							<div class="med_text">
								<table class="table">
									<tbody>
								
								<tr> <td> PayLoad </td>
									<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
								</tr>
								</tbody>
								</table>
								</div>
						</tab>
						
						<tab heading="Signatures" ng-show="network">
							<div class="med_text">
								<table class="table">
									<tbody>
								
								<tr> <td> Signatures </td>
									<td>{{network['signatures']}}</td>
								</tr>
								</tbody>
								</table>
							</div>
						
						</tab>
						
						</tabset>	
							
							
						</div>
								
							<div ng-if="modalType == 'malware'">
								<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tbody>
											<tr> <td> Hash </td>
												<td>{{value['download']['md5Hash']}}</td>
											</tr>
											
											<tr> <td> File Path </td>
												<td>{{value['download']['filePath']}}</td>
											</tr>
											
											<tr> <td> URL </td>
												<td>{{value['download']['url']}}</td>
											</tr>																
										</tbody>
										</table>
									</div>
								</tab>
								<tab heading="IP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												
												<tr>
													<td> IP version  </td>
													<td>{{network['ipHeader']['ipVersion']}}</td>
												</tr>
												<tr>
													<td> Header length </td>
													<td>{{network['ipHeader']['headerLength']}}</td>
												</tr>
												<tr>
													<td> Total length </td>
													<td>{{network['ipHeader']['totalLength']}}</td>
												</tr>
												<tr>
													<td> Protocol </td>
													<td>{{network['ipHeader']['protocol']}}</td>
												</tr>
												<tr>
													<td> csum </td>
													<td>{{network['ipHeader']['csum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
													<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>
								
								
							</div>	
							
						
						<div ng-if="modalType == 'database'">	
								<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tbody ng-show="value.service == 'mssql'">
											<tr > 
												<td> Mssql Client Name </td>
												<td>{{value['mssqlClientName']}}</td>
											</tr>

											<tr ng-show="value.service == 'mssql'">
											<td> Mssql Host Name </td>
											<td>{{value['mssqlHostName']}}</td>
											</tr>								
											</tbody>
								
											<tbody ng-show="value.mysqlCommands[0]" ng-repeat ="val in value.mysqlCommands">
											<tr ng-show= "val.mysqlQuery"> 
											<td> Mysql Query </td>
											<td>{{val['mysqlQuery']}}</td>
											</tr>
											
											<tr ng-show="val.mysqlOp"> 
											<td> Mysql OP </td>
											<td>{{val['mysqlOp']}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="IP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												
												<tr>
													<td> IP version  </td>
													<td>{{network['ipHeader']['ipVersion']}}</td>
												</tr>
												<tr>
													<td> Header length </td>
													<td>{{network['ipHeader']['headerLength']}}</td>
												</tr>
												<tr>
													<td> Total length </td>
													<td>{{network['ipHeader']['totalLength']}}</td>
												</tr>
												<tr>
													<td> Protocol </td>
													<td>{{network['ipHeader']['protocol']}}</td>
												</tr>
												<tr>
													<td> csum </td>
													<td>{{network['ipHeader']['csum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>
								
									
							
						</div>
						
						<div ng-if="modalType == 'ssh'">
							<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tbody>
								
											<tr>
											<td> Tool </td>
											<td> {{value['tool']}} <td>
											</tr>
										</tbody>
								
											<tbody ng-repeat="val in value['authList']">
										
											<tr> 
											<td> Password </td>
											<td>{{val['password']}}</td>
											</tr>
											
											<tr><td> UserName </td>
											<td>{{val['username']}}</td>
											</tr>
											
											<tr>
											<td> dateTime </td>
											<td>{{value['dateTime']}}</td>
											</tr>
											
											<tr>
											<td> Auth Success </td>
											<td>{{val['success']}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="IP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												
												<tr>
													<td> IP version  </td>
													<td>{{network['ipHeader']['ipVersion']}}</td>
												</tr>
												<tr>
													<td> Header length </td>
													<td>{{network['ipHeader']['headerLength']}}</td>
												</tr>
												<tr>
													<td> Total length </td>
													<td>{{network['ipHeader']['totalLength']}}</td>
												</tr>
												<tr>
													<td> Protocol </td>
													<td>{{network['ipHeader']['protocol']}}</td>
												</tr>
												<tr>
													<td> csum </td>
													<td>{{network['ipHeader']['csum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>	
								
								
						</div>
						
						<div ng-if="modalType == 'probing'">
							<tabset>
								<tab heading="Attack Information" active="true">
									<div class="med_text">
										<table class="table">
											<tbody>
								
											<tr>
											<td> Protocol </td>
											<td> {{value['protocol']}} <td>
											</tr>
										</tbody>
								
											
										</table>
									</div>
								</tab>
								<tab heading="IP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												
												<tr>
													<td> IP version  </td>
													<td>{{network['ipHeader']['ipVersion']}}</td>
												</tr>
												<tr>
													<td> Header length </td>
													<td>{{network['ipHeader']['headerLength']}}</td>
												</tr>
												<tr>
													<td> Total length </td>
													<td>{{network['ipHeader']['totalLength']}}</td>
												</tr>
												<tr>
													<td> Protocol </td>
													<td>{{network['ipHeader']['protocol']}}</td>
												</tr>
												<tr>
													<td> csum </td>
													<td>{{network['ipHeader']['csum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="UDP Header" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Source Port </td>
													<td>{{network['udpHeader']['srcPort']}}</td>
												</tr>
												<tr>
													<td> Destination Port  </td>
													<td>{{network['udpHeader']['dstPort']}}</td>
												</tr>
												<tr>
													<td> UDP LEN </td>
													<td>{{network['udpHeader']['udpLen']}}</td>
												</tr>
												<tr>
													<td> UDP CSUM </td>
													<td>{{network['udpHeader']['udpCsum']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="PayLoad" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> PayLoad </td>
														<td> <pre class="preheader"> {{network['payload']['encodedData']}} </pre> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Signatures" ng-show="network">
									<div class="med_text">
										<table class="table">
											<tbody>
												<tr>
													<td> Signatures </td>
													<td>{{network['signatures']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>	
								
								
						</div>
						
						
						
						<div class="clear"></div>
						<div class="modal-footer del_pop_footer">
							<button ng-click="showModalHide()" type="button" class="btn btn-default" style="height:25px; border-radius:20px; margin:10px 0; line-height:10px;"> OK </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
		</div>
  </div>
  
        </div>
		
	<div class="panel hbox hbox-auto-xs no-border">
	<div class="row">
		<div class="panel wrapper">	
		 <div ng-show="showMap" class="col-md-8 col-lg-8 col-sm-8">
			<highchart id="chart1" config="chartConfig" class="span9" ></highchart>
		</div>
		</div>	
		
		<div ng-show="showMap" class="col-md-4 col-lg-4 col-sm-4">
			<div>	
			<highchart id="chart1" config="actConfig" ng-show="linkedActivity" class="span9" ></highchart>
			</div>
		</div>	
	</div>
	</div>	
	
		
       
 </div>			
	<div class="col">
		<div ui-view ></div>
  </div>		



