<div class="bg-light lter b-b wrapper-sm">
  <h1 class="m-n font-thin h3"> Sensor Information  </h1>
 </div>  
<div class="bg-light lter b-b wrapper-sm">
  <div class="row">
  <!--      
		<div class="col-sm-2">
		<mydatepicker ng-model="formData.date" date-options="dateOptions" opened="opened"/>
		</div>
		<div class="col-sm-2">
			<mydatepicker ng-model="formData.date" date-options="dateOptions" opened="opened"/>   
        </div>
   -->
    <div class="col-lg-6">
     <a ui-sref="app.addSensorForm">
		 <i class="glyphicon glyphicon-file"></i>
		<!-- <i class="glyphicon glyphicon-dashboard"></i> -->
          <span> Add New Record </span>
        </a>
   
	</div>
	
 </div>
 
<div class="wrapper-md" ng-controller="ListAllSensors">
		<div class="row"> 
	<div class="col-sm-12 col-xs-12 col-md-12">   
		<div class="panel panel-default" ng-show="data.lengths == 0">
			<p> Sorry No Record Found </p>
		</div>
		
          <div class="panel panel-default">
			<div class="table-responsive">
			  <table class="table b-light">
				<thead>
				  <tr>
						 <th> Sensor IP</th>
						 <th> Sensor Name </th> 
						 <th> Country Name </th> 
						  <th> City Name </th> 
						 <th> sensor Placement </th>
						 <th> Latitude and Longitude  </th>
				  </tr>
				</thead>
				<tbody>
					 <tr dir-paginate="val in data | itemsPerPage:20" total-items="totalCount" current-page="pagination.current">
						
						 <td><span ng-show="!val['sensorIP']">-</span> <a href="#/app/CountryIps/country/ip/{{val['sensorIP']}}" >{{val['sensorIP']}} </a> </td>
						<td>{{val['sensorName']}}</td>
						<td>{{val['sensorCountry']}}</td>				
						<td>{{val['sensorCity']}}</td>						
						<td>{{val['sensorPlacement']}}</td>
						 <td>{{val.geoPoint.lat}} , {{val.geoPoint.lon}}</td>
						 
					</tr>
				</tbody>
			  </table>
			</div>
			
			<div id="content">
				<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
			 </div>
		</div>
		</div>
			
</div>