<div ng-include="'views/dateBar.html'"> </div>

<div class="wrapper-md">
	<div class="row">	
		<div class="col-lg-9 col-md-12">
			<highchart id="chart1" config="chartConfig" class="span9" ></highchart>
		</div>
		
		<div class="col-lg-3 col-md-12">
			 <div class="panel wrapper">
				<h4 class="font-thin m-t-none m-b"> About Brute-Force </h4>
				<p >A brute-force attack is the simplest method to gain access to an application or operating system by applying different
				credentials. In brute-force attack, an attacker tries different but exhaustive combinations of usernames and passwords,
				over and over again, until he is successfully logged-in. The following section presents the data relevant to brute-force
				activities performed on SSH protocol in Pakistan cyberspace.</p>	
			</div>
		</div>
	</div>
	
	<!--	

 <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper auto">
          
		  
        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          
          
		<p >A brute-force attack is the simplest method to gain access to an application or operating system by applying different
		credentials. In brute-force attack, an attacker tries different but exhaustive combinations of usernames and passwords,
		over and over again, until he is successfully logged-in. The following section presents the data relevant to brute-force
		activities performed on SSH protocol in Pakistan cyberspace.</p>
		</div>
          
        
 </div>				
	-->
</div>



