<div ng-include="'views/dateBar.html'"> </div>


<div class="wrapper-md">

	<div class="row">	
		<div class="col-lg-9 col-md-12">
			<highchart id="chart1" config="allConfig" class="span9" ></highchart>
		</div>
		
		<div class="col-lg-3 col-md-12">
			 <div class="panel wrapper">
				<h4 class="font-thin m-t-none m-b">Most Passwords Used </h4>
				<p > Graph shows the most attempted passwords.
					The password <b>123456</b> was tried the most
					number of times. It is strongly recommended to
					avoid these types of passwords</p> 
			</div>
		</div>
	</div>



<!--
 <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper auto">
		<highchart id="chart1" config="allConfig" class="span9" ></highchart>
        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          
        <p >table lists the most attempted passwords.
The password <b>123456</b> was tried the most
number of times. It is strongly recommended to
avoid these types of passwords</p>  
		
		</div>
          
        
 </div>				
	-->
</div>


