<div ng-include="'views/toggleBar.html'"></div>
								
		<div id="wrapper" >
		
		
			<!-- Sidebar -->
			<div ng-include="'views/bruteBar.html'"></div>
			<!-- /#sidebar-wrapper -->

			<!-- Page Content -->
			<div id="page-content-wrapper">
				<!--<div class="header">
					<a href="" class="btn btn-default" id="menu-toggle"><i class="fa fa-list"></i></a>
				</div>-->
				<div class="sub-container">
					<div class="container-fluid">
						<div class="row">
						
						<div class="row">
	<h1 class="main_heading">Global Data Analysis</h1>
</div>

<div class="exec_summary">
    <p>This section presents analysis of attack data from sensors deployed at different places in Pakistan. We process millions
of log entries and security alerts that are being captured by our custom and purpose built sensors during the threat
analysis. In order to provide real time threat intelligence and security alerts to our customers – we perform advanced
analytics on the collected alerts by correlating security events from multiple sensors.</p>
</div>

						
							
						</div>
					</div>
				</div>
			</div>
			<!-- /#page-content-wrapper -->

		</div>  <!-- wrrapper end  div-->
