<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> WEB Attacks  </h1>
</div>

<div class="wrapper-md">
<div class="panel hbox hbox-auto-xs no-border">
       
        <div class="col wrapper-lg w-lg bg-auto dk r-r">
      
          <div class="exec_summary">
    <p>As websites and web based applications are rapidly growing so are the threats. Complex business
applications are now being delivered over the web (HTTP) and paving way for attackers to exploit
any kind of vulnerability.</br>
The following section presents important data relevant to the web attacks faced by Pakistan
cyberspace.</p>
</div>
		
         
 </div>			
			
</div>
</div>

