<div ng-include="'views/dateBar.html'"> </div>

<div class="wrapper-md">
<div class="row">	
	<div class="col-lg-9 col-sm-12 col-xs-12 col-md-12">
          <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
    </div>
	<div class="col-sm-12 col-xs-12 col-lg-3 col-md-12">
      <div class="panel wrapper">
	<p> Those countries 
performing the most attacks are
shown in the following figure </p>  
	</div>
	</div>
</div>
</div>



<!--
 <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper auto">
          <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
		  
        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          <h4 class="font-thin m-t-none m-b"> About Attack </h4>
          
          <p class="text-muted"> The countries hosting IP Addresses
performing the most attacks are
shown in the following figure </p>
        </div>
   </div>			
	-->		