<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> SIP Attacks  </h1>
</div>

<div class="wrapper-md">
<div class="panel hbox hbox-auto-xs no-border">
       
        <div class="col wrapper-lg w-lg bg-auto dk r-r">
		<div class="exec_summary">
    <h3> What Is SIP ?</h3>
    <p>The Session Initiation Protocol (SIP) is a communication protocol for signaling and controlling
multimedia communication sessions. The most common applications of SIP are in Internet telephony
for voice and video calls, as well as instant messaging using Internet Protocol (IP) networks.</p>
    
    <h3>SIP Based Attacks</h3>
    <p>One of the main challenges that telecommunication providers are facing is the convergence of data
and voice networks. VoIP utilizes one common network for signaling and voice, thus enjoying several
advantages and offering modern telephony services like instant messaging, Internet conferencing
rooms, personalized call transfer, and so forth. VoIP is based on an open environment such as the
Internet, which simplifies mounting an attack (e.g., on a VoIP server). This is due to the fact that VoIP
services are based on open standardized protocols for signaling i.e. SIP.
Session Initiation Protocol (SIP) has been adopted as the signaling protocol to handle multimedia
sessions at both the Internet and the 3G realms. There are different possible attacks on SIP server
which aim to exhaust available resources, create false responses upon to the reception of malicious
requests, and discover possible security vulnerabilities in the applications.</p>
    <h3> SIP Attacks Division</h3>
    <p>Most of SIP attacks can be divided into two groups. First represents various types of PBX scanning
& probing. Attackers send OPTION message and wait for an answer or simply try to place a call
with immediate cancellation (It means INVITE message followed by CANCEL message). The second
group represents flood attacks. SIP Server has an extraordinary vulnerability of SIP proxy against
OPTIONS floods, but attackers still use only REGISTER message flooding. REGISTER message is
used by a user agent to register to the registrar (server). We currently focused on the REGISTER
flooding attacks.</p>
</div>
          
         
		</div>			
			
</div>
</div>

