<div ng-include="'views/dateBar.html'"> </div>

<div class="wrapper-md">
<div class="panel wrapper">
 <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
</div>
<!--
 <div class="panel panel-default">
    <div class="panel-heading">
      Detail
    </div>
    
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            
              <th> Tools</th>
              <th> Connections</th>
                
           
          </tr>
        </thead>
        <tbody>
			<tr ng-repeat="val in data">
                 <td><span ng-show="!val['sip_command_user_agent']">-</span>{{val['sip_command_user_agent']}}</td>
                 <td><span ng-show="!val['counts']">-</span>{{val['counts']}}</td>
             </tr>
          
        </tbody>
      </table>
    </div>
    
  </div>
 -->
</div>


