<div ng-include="'views/dateBar.html'"> </div>

<div class="wrapper-md">
	<div class="row">	
	<div class="col-lg-9 col-sm-12 col-xs-12 col-md-12">
          <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
    </div>
	
	<div class="col-lg-3 col-md-12 col-xs-12 col-md-12">
		<div class="panel wrapper">
		<h4> Registrar Sever Attack </h4>
			<p>One of the fundamental network elements in SIP telephony service is the registrar. When an attacker manages to paralyze
the registrar (e.g., by sending numerous bogus registration requests), it can easily cause a DOS. This situation can be avoided
only if the SIP server blocks all messages coming from unknown origins. When the attacker launches an attack against a
REGISTRAR by employing a large number of registration requests, he/she aims to achieve one of the following goals:
<ul>	 
   <li>To guess legitimate users’ passwords</li>
   <li>To cause a DOS in the SIP registrar</li></ul>
Following top IPs are found to be involved in REGISTER flooding:  </p>
		</div>
	</div>
	</div>


<!--
 <div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper auto">
          <div class="panel panel-default">
    <div class="panel-heading">
      Detail
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            
                 <th> IP Addresses</th>
                 <th> Country</th>
                 <th> Total</th>
            
          </tr>
        </thead>
        <tbody>
			 <tr ng-repeat="val in data">
                 <td>{{val['key_as_string']}}</td>
				 <td>{{val['remote_country']['buckets'][0]['key'] }}</td>	
				<td>{{val['doc_count']}}</td>
                
             </tr>
          
        </tbody>
      </table>
    </div>
    
  </div>
        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          <h4 class="font-thin m-t-none m-b"> SIP Registrar Server Attacks </h4>
          
          <p class="text-muted"> One of the fundamental network elements in SIP telephony service is the registrar. When an attacker manages to paralyze
the registrar (e.g., by sending numerous bogus registration requests), it can easily cause a DOS. This situation can be avoided
only if the SIP server blocks all messages coming from unknown origins. When the attacker launches an attack against a
REGISTRAR by employing a large number of registration requests, he/she aims to achieve one of the following goals:
<ul>	 
   <li>To guess legitimate users’ passwords</li>
   <li>To cause a DOS in the SIP registrar</li></ul>
Following top IPs are found to be involved in REGISTER flooding:  </p>
        </div>
   </div>	
-->
</div>   
														